.setup-box {
    position: relative;
    display: block;
    background-color: #fff;
/*     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32); */
/*     border-radius: 6px; */
    margin-bottom: 30px;
}
.setup-head {
    color: #424242;
    padding: 10px 20px;
    position: relative;
    box-shadow: none;
    border-bottom: 2px solid #3b7bff;
    background: #ecf2ff;
}
.setup-head h3 {
  font-size: 17px;
    color: #757575;
    position: relative;
    margin-top: 0;
    font-weight: normal;
    margin-bottom:0;
}

.setup-head h3 span {
    color: #3b7bff;
}

.setup-body {
  display:block;
  padding: 20px 20px 20px 20px;
}

.setup-helper {
  color: #808080;
  font-size: 0.9em;
}

.setup-helper p {
  margin-top:0;
}


.new-comment-input {
  min-height: 132px;
  height: auto; }

.ac-comment-list {
  margin-top: 30px; }

.ac-comment-list-item {
  float: left;
  position: relative;
  padding: 16px 21px 16px 48px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #9b9b9b;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-right: 5px;
  }
  .ac-comment-list-item .remove-comment-btn {
    position: absolute;
    font-size: 20px;
    top: 16px;
    left: 18px;
    color: #3b7cff; }
    .ac-comment-list-item .remove-comment-btn:hover {
      color: #ff3d3d; }


.new-message-input {
  min-height: 132px;
  height: auto; }

.wdm-message-list {
  margin-top: 30px; }

.wdm-message-list-item {
  float: left;
  position: relative;
  padding: 16px 21px 16px 48px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #9b9b9b;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-right: 5px;
}
  .wdm-message-list-item .remove-message-btn {
    position: absolute;
    font-size: 20px;
    top: 16px;
    left: 18px;
    color: #3b7cff; }
    .wdm-message-list-item .remove-message-btn:hover {
      color: #ff3d3d; }

















.al-tab-heads {
  padding: 0 25px;
  font-size: 14px;
  line-height: 17px;
  background-color: #3b7cff;
  color: #fff; }
  .al-tab-heads a {
    float: left;
    margin-top: 15px;
    margin-right: 40px;
    padding: 10px 0;
    position: relative;
    color: inherit; }
    .al-tab-heads a:last-child {
      margin-right: 0; }
  .al-tab-heads a.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff3d3d;
    content: ""; }

/* Log list */
.al-log-list-item {
  position: relative;
  padding: 12px 44px 12px 128px;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .al-log-list-item:hover {
    background-color: rgba(59, 124, 255, 0.1); }

.al-log-list-item .circle {
  position: absolute;
  top: 12px;
  left: 44px;
  width: 60px;
  height: 60px;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .al-log-list-item .circle .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-position: center;
    background-size: cover; }
  .al-log-list-item .circle .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 18px;
    margin-top: -9px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase; }

.al-log-list-item.error .circle {
  color: #fff;
  background-color: #ff3d3d; }

.al-log-list-item .inner {
  position: relative;
  padding-right: 256px;
  min-height: 60px;
  font-size: 14px;
  line-height: 17px;
  color: #212121; }

.al-log-list-item .action {
  margin-top: 9px;
  line-height: 22px; }
  .al-log-list-item .action a {
    font-weight: 500;
    color: inherit; }
    .al-log-list-item .action a:hover {
      color: #3b7cff; }
  .al-log-list-item .action .date {
    margin-left: 5px;
    font-size: 12px;
    color: #9b9b9b; }
  .al-log-list-item .action .error-details {
    margin: 3px 0 10px;
    font-size: 12px;
    line-height: 16px;
    font-family: monospace; }

.al-log-list-item .meta {
  margin-top: 3px;
  font-size: 12px;
  color: #9b9b9b; }
  .al-log-list-item .meta .icon {
    color: #3b7cff; }
  .al-log-list-item .meta:hover {
    color: #212121; }

.al-log-list-item .buttons {
  position: absolute;
  top: 9px;
  right: 0; }
  .al-log-list-item .buttons .button {
    float: left;
    margin-right: 12px; }
    .al-log-list-item .buttons .button:last-child {
      margin-right: 0; }

@media screen and (max-width: 768px) {
  .al-log-list-item {
    padding: 12px 26px 12px 110px; }
  .al-log-list-item .circle {
    left: 28px; }
  .al-log-list-item .inner {
    padding-right: 0; }
  .al-log-list-item .buttons {
    position: relative;
    top: 0;
    margin-top: 14px; } }

.al-next-schedule,
.al-amount-of-action {
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: #9b9b9b;
  border-bottom: 1px solid #e0e0e0;
}

.setup-label-speed {
  margin-bottom: 48px !important;
}
@media (max-width 480px){
  .setup-label-speed {
    margin-bottom: 5px !important;
  }
}