<template>
    <div class="">
    <div id="directPremium" v-if="listElement.length">
        <listItem v-for="(item, key) in listElement" :element="item" :key="key" @delete="refresh"></listItem>
    </div>
        <button @click.prevent="add">Создать задание</button>
    </div>
</template>

<script>


export default {
    name: 'app',
    data(){
        return {
            listElement: [],
            //listElement: JSON.parse('[{"id":"1","user_id":"9","account_id":"25","messages":["11", "22"],"filters":null,"speed":"0","is_active":"0","schedule_date":"2018-08-11 21:04:46","end_date":"2030-12-12 23:59:59","last_action_date":"2018-08-11 20:21:41"}]'),
        }
    },
    created(){

    },
    mounted(){
        this.refresh();
    },
    methods: {
        refresh(){
            this.$http.post(location.href, querystring.stringify({action:'getItem'})).then(response=>{console.log(response); this.listElement = response.data.object});
        },
        add(){
            this.listElement.push({});
        }
    }
}
</script>

<style scoped lang="scss">
    //@import "scss/smart-grid.scss";
    *{
        box-sizing: border-box;
    }
    #directPremium{
        position: relative;
        width: 100%;

    }
    button{
        margin: 1% 0;
        background: #3b7cff;
        cursor: pointer;
        border: 1px solid #3b7cff;
        padding: 10px;
        color: #fff;
        font-size: 17px;
        transition: all .5s ease-in-out;
        font-weight: bold;
        &:hover{
            border-color: #003569;
            background-color: #003569;
        }

    }
</style>
