<template>
    <div class="like">
        <span class="mdi mdi-close-box" @click.prevent="$emit('deleteItem')"></span>
        <h6><span class="mdi mdi-drag"></span> Лайки</h6>
        <label><span>Задержка<input v-model="item.data.filters.wait" class="input mini-input" type="number"> минут</span></label>
        <label><span>Поставить <input v-model="item.data.filters.count" class="input mini-input" type="number"> лайков</span></label>
        <label>
            <select class="input" v-model="item.data.filters.sort">
                <option value="sortable">Последние публикации</option>
                <option value="shuffle">В случайном порядке</option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "like",
        props:['item'],
        data(){
            return{
                filters:{
                    wait:1,
                    count:3,
                    sort:'sortable',
                },
            }
        },
        created(){
            if(!this.item.data.hasOwnProperty('filters')){
                this.item.data.filters = this.filters;
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    *{
        box-sizing: border-box;
    }
    .mdi-close-box{
        position: absolute;
        right: 1%;
        font-size: 20px;
        color: red;
        cursor: pointer;
    }
    .like{
        position: relative;
        background: #fff;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        margin: 10px;
        h6{
            width: 100%;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
        }
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        label{
            @include size(6);
            display: block;
            margin: 10px 0;
        }
        .mini-input{
            width: 40px;
            text-align: center;
            display: inline;
            padding: 4px;
            height: auto;
            margin-top: -4px;
            margin-bottom: -4px;
        }
        .mini-select{
            padding: 7px;
            height: auto;
            margin-bottom: 5px;
        }
    }
    .mdi-drag{
        cursor: move;
    }
</style>