<template>
    <div class="Target-edit">
        <div class="row-label">
            <label class="mr-50 mb-15"><input class="radio" type="radio" value="hunter" v-model="targetType"><span><span class="icon"></span>Hunter</span></label>
            <!--<label class="mr-50 mb-15"><input class="radio" type="radio" value="hashtag" v-model="targetType"><span><span class="icon"></span>#Hashtags</span></label>
           <label class="mr-50 mb-15"><input class="radio" type="radio" value="location" v-model="targetType"><span><span class="icon"></span>Места</span></label>
            <label class="mr-50 mb-15"><input class="radio" type="radio" value="people" v-model="targetType"><span><span class="icon"></span>Люди</span></label>
            <label class="mr-50 mb-15 rad"><input class="checkbox" type="checkbox" value="myFollorers" v-model="ele.filters.myFollorers"><span><span class="icon unchecked">
                    <span class="mdi mdi-check"></span></span>Мои подписчики</span></label>-->
        </div>
        <div class="row-label">
            <p class="search-label">Поиск</p>
            <input class="input" type="text" ref="searchInput" v-model="searchInput" > <!--@paste="searchPaste"-->
        </div>
        <div class="targets" v-if="item.data.targets.length">
            <div class="target" v-for="(target, key) in  item.data.targets" :key="key"><span :class="targetClass(target.type)"></span>{{target.value}} <span class="mdi mdi-close" @click="deleteTarget(key)"></span></div>
        </div>
        <div class="fifth-col">
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.hasAvatar"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Есть аватар</span></label>
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.isNonPrivate"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать приватным акаунтам</span></label>
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.isNonDescription"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать акаунтам без описания</span></label>
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.isLastPublish"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать если последняя публикация размещена более <input v-model="item.data.filters.isLastPublishDay" class="input mini-input" type="number"> дней назад</span></label>
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.isCountPosts"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Количество публикаций в которых от <input v-model="item.data.filters.isCountPostsMin" class="input mini-input" type="number"> до <input v-model="item.data.filters.isCountPostsMax" class="input mini-input" type="number"></span></label>
            <label><input class="checkbox" type="checkbox" v-model="item.data.filters.isCountFollowers"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Количество подписчиков в которых от <input v-model="item.data.filters.isCountFollowersMin" class="input mini-input" type="number"> до <input v-model="item.data.filters.isCountFollowersMax" class="input mini-input" type="number"></span></label>
            <div class="row-label-word"><label><input class="checkbox" type="checkbox" v-model="item.data.filters.isNonWord"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать акаунтам со словами в описании</span></label>
                <select class="input mini-select" v-model="item.data.filters.isNonWordType" v-show="item.data.filters.isNonWord">
                    <option value="ai">Список "Смарт AI"</option>
                    <option value="my">Свой список</option>
                </select>
                <input-tag v-show="item.data.filters.isNonWord && (item.data.filters.isNonWordType == 'my')"
                           :add-tag-on-keys="[13, 32, 9]"
                           :tags.sync="item.data.filters.badWords"
                           :placeholder="'Введите слова'"></input-tag>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "target",
        props:['item'],
        data(){
            return{
                targetType:"hunter",
                searchInput:'',
                filters:{
                    hasAvatar:false,
                    isNonPrivate:false,
                    isNonDescription:false,
                    isLastPublish:false,
                    isLastPublishDay:5,
                    isCountPosts:false,
                    isCountPostsMin:20,
                    isCountPostsMax:500,
                    isCountFollowers:false,
                    isCountFollowersMin:20,
                    isCountFollowersMax:500,
                    isNonWord: false,
                    isNonWordType:'ai',
                    badWords:[],
                    followIfNeed:false,
                    myFollorers:false,
                },
            }
        },
        created(){
            console.log(this.item.data);
            if(!this.item.data.hasOwnProperty('targets')){
                this.item.data.targets = [];
            }
            if(!this.item.data.hasOwnProperty('filters')){
                this.item.data.filters = this.filters;
            }
        },
        mounted(){
            console.log(this.item);
            $(this.$refs.searchInput).devbridgeAutocomplete({
                serviceUrl: location.href,
                type: "GET",
                dataType: "jsonp",
                minChars: 2,
                deferRequestBy: 200,
                forceFixPosition: true,
                paramName: "q",
                params: {
                    action: "search",
                    type: this.targetType,
                },
                transformResult(resp) {
                    return {
                        suggestions: resp.result == 1 ? resp.items : []
                    };
                },
                beforeRender:this.beforeRender,
                formatResult:this.formatResult,
                onSelect:this.onSelect,
            });
            $('.edit').on('paste', '.new-tag', (e)=>{
                let text =  e.originalEvent.clipboardData.getData('text');
                e.preventDefault();
                e.stopPropagation();
                let arraytext = text.split(/(,|\n| |↵|"|\/n)/);
                let u = arraytext.map((item)=>{
                    return item.replace('[', '').replace(' ', '').replace(']', '').replace('.', '').replace(',', '').replace('"', '').replace("'", '').replace(":", '').replace(";", '').replace("↵", '').replace(/[\n\r]/g, '')
                });
                u = u.filter((item)=>{return !(item == '' || item == ' ' || item == ',' || item == '"' || item == '[' || item == '↵' )});
                console.log(u);
                u.forEach((item)=>{
                    if(this.ele.filters.badWords.indexOf(item) == -1){
                        this.ele.filters.badWords.push(item);
                    }
                });
            });
        },
        methods:{
            targetClass(type){
                switch (type){
                    case 'hunter': return 'icon mdi mdi-bug';
                    case 'hashtag': return 'icon mdi mdi-pound';
                    case 'location': return 'icon mdi mdi-map-marker';
                    case 'people': return 'icon mdi mdi-instagram';
                }
            },
            deleteTarget(key){
                this.item.data.targets.splice(key, 1);
                this.$forceUpdate();
            },
            formatResult(suggestion, currentValue){
                var pattern = '(' + currentValue.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + ')';
                return suggestion.value
                        .replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                        .replace(/&/g, '&amp;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;')
                        .replace(/"/g, '&quot;')
                        .replace(/&lt;(\/?strong)&gt;/g, '<$1>') +
                    (suggestion.data.sub ? "<span class='sub'>"+suggestion.data.sub+"<span>" : "");
            },
            beforeRender(container, suggestions) {
                for (var i = 0; i < suggestions.length; i++) {
                    var type = this.targetType;
                    if (_.find( this.item.data.targets, {type:type, id:suggestions[i].data.id})) {
                        container.find(".autocomplete-suggestion").eq(i).addClass('none')
                    }
                }
            },
            onSelect(suggestion){
                this.searchInput = '';
                var type = this.targetType;

                if ( this.item.data.targets.type == type &&  this.item.data.targets.id == suggestion.data.id) {
                    return false;
                }
                let target = {};
                target.type = type;
                target.id = suggestion.data.id;
                target.value = suggestion.value;

                console.log(target);
                this.item.data.targets.push(target);
            },
            searchPaste(e){
                let text =  e.clipboardData.getData('text');
                e.preventDefault();
                e.stopPropagation();
                let arraytext = text.split(/(,|\n| |↵|"|\/n)/);
                let u = arraytext.map((item)=>{
                    return item.replace('[', '').replace(' ', '').replace(']', '').replace(',', '').replace('"', '').replace("'", '').replace(":", '').replace(";", '').replace("↵", '').replace(/[\n\r]/g, '')
                });
                u = u.filter((item)=>{return !(item == '' || item == ' ' || item == ',' || item == '"' || item == '[' || item == '↵' )});
                u.forEach((item)=>{
                    if(this.targetType == 'hashtag'){
                        if (_.find( this.item.data.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        let target = {};
                        target.type = this.targetType;
                        target.id = item;
                        target.value = item;
                        this.item.data.targets.push(target);
                        this.$forceUpdate();
                    }
                    if(this.targetType == 'people'){
                        if (_.find( this.item.data.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        $.get(location.href, {type:this.targetType, action:'search', q:item, dataType: 'json'}, (response)=>{
                            response = JSON.parse(response);
                            if(response.result){
                                if (_.find( this.item.data.targets, {type:this.targetType, id:response.items[0].data.id})) {
                                    return false;
                                }
                                let target = {};
                                target.type = this.targetType;
                                target.id = response.items[0].data.id;
                                target.value = response.items[0].value;
                                this.item.data.targets.push(target);
                                this.$forceUpdate();
                            }
                        });
                    }
                    if(this.targetType == 'location'){
                        if (_.find( this.item.data.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        $.get(location.href, {type:this.targetType, action:'search', q:item, dataType: 'json'}, (response)=>{
                            response = JSON.parse(response);
                            if(response.result){
                                if (_.find( this.item.data.targets, {type:this.targetType, id:response.items[0].data.id})) {
                                    return false;
                                }
                                let target = {};
                                target.type = this.targetType;
                                target.id = response.items[0].data.id;
                                target.value = response.items[0].value;
                                this.item.data.targets.push(target);
                                this.$forceUpdate();
                            }
                        });
                    }
                });

            },
        }
    }
</script>

<style scoped lang="scss">
   @import "../scss/smart-grid.scss";
   *{
       box-sizing: border-box;
   }
   .mdi-close{
       cursor: pointer;
   }
    .targets{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 15px;
        margin-bottom: 5px;
        .target{
            background: black;
            border-radius: 4px;
            color: white;
            padding: 3px 7px;
            margin-right: 5px;
            font-size: 12px;
            margin-bottom: 2px;
        }
    }
    .Target-edit{
        background: #fff;
        // @include size(12);
        padding: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        margin: 10px;
        .search-label{
            margin-bottom: 5px;
        }
        .messages{
            margin-bottom: 10px;
        }
        .message{
            padding: 10px;
            border-radius: 4px;
            background-color: #f5f5f5;
            border: 1px solid #e0e0e0;
            margin: 0.5% 0;
            cursor: move;
            .row-message{
                display: flex;
                justify-content: flex-end;
            }
            button{
                margin: 0 1%;
                background: #3b7cff;
                cursor: pointer;
                border: 1px solid #3b7cff;
                padding: 4px;
                color: #fff;
                border-radius: 4px;
                font-size: 11px;
                transition: all 0.5s ease-in-out;
                &:hover{
                    border-color: #003569;
                    background-color: #003569;
                }
                &.delete{
                    background: red;
                    border: 1px solid red;
                    &:hover{
                        border-color: #c00000;
                        background-color: #c00000;
                    }
                }
            }
        }
        .row-label-word{
            margin-bottom: 5px;
            @include size(6);
            label{
                width: 100%;
            }
        }
    }
    .fifth-col{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        label{
            @include size(6);
            display: block;
            margin: 10px 0;
        }
        .mini-input{
            width: 40px;
            text-align: center;
            display: inline;
            padding: 4px;
            height: auto;
            margin-top: -4px;
            margin-bottom: -4px;
        }
        .mini-select{
            padding: 7px;
            height: auto;
            margin-bottom: 5px;
        }
    }
</style>