<template>
    <div class="task">
        <div class="shortView" v-if="!editMode">
            <div class="col-3">
                <div class="col-targets">
                    <div class="target" v-for="(target, key) in  task.tasks[0].data.targets" :key="key"><span :class="targetClass(target.type)"></span>{{target.value}}</div>
                </div>
                <div v-for="(target, key) in  task.tasks" v-if="key!=0" class="task-item">
                    {{key}}. {{targetTypeCaption(target.type)}}
                </div>
            </div>
            <div class="col-action">
                <p class="lab"><strong>Частота:</strong>{{speedText(task.speed)}}</p>
                <p class="lab"><strong>Статус:</strong>{{task.is_active=='1' ? "Активный" : "Деактивировать"}}</p>
                <button class="blue" @click.prevent="editMode=true">Редактировать</button>
                <button class="delete" @click.prevent="deleteTask">Удалить</button>
            </div>
        </div>
        <div class="edit-task" v-else>
            <div class="col">
                <Container @drop="onDrop" :drag-handle-selector="'.mdi-drag'">
                    <Draggable v-for="(job, key) in task.tasks" :key="key">
                        <component :is="job.type" :item="job" @deleteItem="deleteItem(key)"></component>
                    </Draggable>

                </Container>
            </div>
            <div class="col-2">
                <button class="createTask follow" @click="pussTask('follow')">Подписка</button>
                <button class="createTask like" @click="pussTask('like')">Лайк</button>
                <button class="createTask unfollow" @click="pussTask('unfollow')">Отписка</button>

                <div class="sel">
                    <label class="form-label">Частота</label>
                    <select class="input" name="speed" v-model="task.speed">
                        <option value="0">Авто (Рекомендовано)</option>
                        <option value="1">Очень медленно</option>
                        <option value="2">Медленно</option>
                        <option value="3">Средняя</option>
                        <option value="4">Быстро</option>
                        <option value="5">Очень быстро</option>
                    </select>
                </div>
                <div class="sel">
                    <label class="form-label">Статус</label>
                    <select class="input" name="is_active" v-model="task.is_active">
                        <option value="0">Деактивировать</option>
                        <option value="1">Активный</option>
                    </select>
                </div>

                <!--<button class="action-btn delete">Удалить</button>-->
                <button class="action-btn save" @click="save">Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { Container, Draggable } from "vue-smooth-dnd";
    export default {
        name: "Task",
        props:['task'],
        components: { Container, Draggable },
        data() {
            return {
                editMode:false,
                defautTarget:{
                    type:'target',
                    data:{}
                },
                defautTargetFollow:{
                    type:'follow',
                    data:{}
                },
                defautTargetLike:{
                    type:'like',
                    data:{}
                },
                defautTargetUnfollow:{
                    type:'unfollow',
                    data:{}
                },
            }
        },
        created(){
            console.log(this.task);
            if(this.task.tasks==null || !this.task.tasks.length){
                this.task.tasks = [];
                this.task.tasks.push(this.defautTarget);
                this.task.is_active = 0;
                this.task.speed = 0;
                this.editMode = true;
            }
        },
        watch:{
            editMode(newVal){
                this.$emit('editMode', newVal)
            }
        },
        methods:{
            targetClass(type){
                switch (type){
                    case 'hunter': return 'icon mdi mdi-bug';
                    case 'hashtag': return 'icon mdi mdi-pound';
                    case 'location': return 'icon mdi mdi-map-marker';
                    case 'people': return 'icon mdi mdi-instagram';
                }
            },
            targetTypeCaption(type){
                switch (type){
                    case 'follow': return 'Подписка';
                    case 'like': return 'Лайк';
                    case 'unfollow': return 'Отписка';
                    case 'target': return '';
                }
            },
            pussTask(type){
                console.log(type);
                switch (type){
                    case 'follow':
                       if(_.find(this.task.tasks, {type:'follow'}) === undefined){
                           this.task.tasks.push(this.defautTargetFollow);
                           console.log('follow');
                       }
                        break;
                    case 'like':
                        this.task.tasks.push(this.defautTargetLike);
                        break;
                    case 'unfollow':
                        if(_.find(this.task.tasks, {type:'unfollow'}) === undefined){
                            this.task.tasks.push(this.defautTargetUnfollow);
                            console.log('follow');
                        }
                        break;
                }
                this.$forceUpdate();
            },
            speedText(num){
                switch (num.toString()){
                    case "0": return "Авто (Рекомендовано)";
                    case "1": return "Очень медленно";
                    case "2": return "Медленно";
                    case "3": return "Средняя";
                    case "4": return "Быстро";
                    case "5": return "Очень быстро";
                }
            },
            save(){
                console.log(this.task);
                this.$http.post(location.href, querystring.stringify({comand:'saveTask', task:JSON.stringify(this.task)})).then(response=>{
                    console.log(response.data);
                    this.$emit('saveTask',response.data.task);
                    //this.task = response.data.task;
                    this.editMode = false;

                });
            },
            deleteItem(key){
                this.task.tasks.splice(key, 1);
            },
            deleteTask(){
                console.log(this.task);
                this.$http.post(location.href, querystring.stringify({comand:'deleteTask', id:this.task.id})).then(response=>{
                    console.log(response.data);
                    if(response.data.status == 1){
                        this.$emit('deleteTask');
                    }
                });
            },
            applyDrag(arr, dragResult){
                const { removedIndex, addedIndex, payload } = dragResult;
                if (removedIndex === null && addedIndex === null) return arr;
                const result = [...arr];
                let itemToAdd = payload;
                if (removedIndex !== null) {
                    itemToAdd = result.splice(removedIndex, 1)[0];
                }
                if (addedIndex !== null) {
                    result.splice(addedIndex, 0, itemToAdd);
                }
                return result
            },
            onDrop(dropResult) {
                console.log('drop');
                console.log(dropResult);
                if(dropResult.addedIndex !== 0) {
                    this.task.tasks = this.applyDrag(this.task.tasks, dropResult);
                }else{
                    dropResult.addedIndex = 1;
                    this.task.tasks = this.applyDrag(this.task.tasks, dropResult);
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    *{
        box-sizing: border-box;
    }
    .task-item{
        margin: 1%;
    }
    .edit-task{
        display: flex;
        justify-content: space-around;
        .col{
            @include size(10);
        }
        .col-2{
            margin-top: 20px;
            @include size(2);
            .action-btn{
                width: 100%;
                margin: 3% 0;
                background: #3b7cff;
                cursor: pointer;
                border: 1px solid #3b7cff;
                padding: 10px;
                color: #fff;
                font-size: 17px;
                transition: all .5s ease-in-out;
                font-weight: bold;

                &.delete{
                    background: red;
                    border: 1px solid red;
                    &:hover{
                        border-color: #c00000;
                        background-color: #c00000;
                    }
                }
                &:hover{
                    border-color: #003569;
                    background-color: #003569;
                }
            }
            .createTask{
                width: 100%;
                padding: 10px;
                margin: 5px 0;
                transition: all 2s ease-in-out;
                color: #fff;
                font-weight: bold;
                letter-spacing: 0.5px;
                border: none;
                cursor: pointer;
                &.follow{
                    background: linear-gradient(134.72deg, #EB4B92 0%, #CA76E3 100%);
                    background-size: 500% 100%;
                }
                &.like{
                    background: linear-gradient(-135deg, #FD646B 0%, #FFD102 100%);
                    background-size: 500% 100%;
                }
                &.unfollow{
                    background: linear-gradient(136.03deg, #00DBDE 0%, #FC00FF 100%);
                    background-size: 500% 100%;
                }
                &:hover{
                    background-position: 100% 50%
                }
            }
        }
    }
    .shortView{
        display: flex;
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        margin: 10px;
        justify-content: space-between;
    }
    .col-3{
        @include size(9);
    }
    .col-targets{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 15px;
        margin-bottom: 5px;
        align-items: flex-start;
        @include size(12);
        .target{
            background: black;
            border-radius: 4px;
            color: white;
            padding: 3px 7px;
            margin-right: 5px;
            font-size: 12px;
            margin-bottom: 2px;
        }
    }
    .col-action{
        @include size(3);
        padding: 15px;
        .lab{
            font-size: 16px;
        }
        button{
            width: 100%;
            margin: 3% 0;
            background: #3b7cff;
            cursor: pointer;
            border: 1px solid #3b7cff;
            padding: 10px;
            color: #fff;
            font-size: 17px;
            transition: all .5s ease-in-out;
            font-weight: bold;

            &.delete{
                background: red;
                border: 1px solid red;
                &:hover{
                    border-color: #c00000;
                    background-color: #c00000;
                }
            }
            &:hover{
                border-color: #003569;
                background-color: #003569;
            }
        }
    }
</style>