/* Post */
// Post previous fail note
#post .prev-fail-note {
    max-width: 600px;
    margin: 0 34px 30px;

    font-size: 12px;
    line-height: 16px;


    .title {
        margin-bottom: 5px;

        font-size: 16px;
        line-height: 22px;

        color: $color-danger;
    }
}


// Post Types
#post .types {
    margin-bottom: 30px;

    label {
        display: block;
        float: left;
        width: 25%;
    }

    input {
        display: none;
    }

    input + div {
        position: relative;

        height: 42px;
        padding: 18px;

        font-size: 13px;
        line-height: 16px;

        cursor: pointer;

        color: $color-mid;
        border: 1px solid $section-border-color;
        border-right-width: 0;
        background-color: $color-light;

        @include user-select(none);
        @include transition($transition);

        &:hover {
            color: $color-dark;
        }
    }

    label:last-child input + div {
        border-right-width: 1px;
    }

    input:disabled + div {
        cursor: default;

        opacity: .35;
        color: $color-mid;
        border-style: dashed;
        background-color: transparent;
    }

    input:checked + div {
        color: #fff;
        border-color: $color-primary;
        background-color: $color-primary;
    }

    .icon {
        margin-right: 10px;

        font-size: 30px;
        line-height: 1;
    }

    .type {
        display: inline-block;

        vertical-align: -1px;
    }

    .name {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;

        @include ellipsis;
    }
}


/* Columns */
#post #filemanager {
    height: 541px;
}
#post .controls {
    min-height: 531px;
}
.post-preview {
    min-height: 612px;
}


// File Manager
#post .ofm-file {
    width: 33.33%;
    max-width: none;
}
.crop-function {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;

    width: 16px;
    height: 16px;

    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;

    opacity: 0;
    transition: all ease 0.2s 0.1s;
    transform: rotateY(0deg);
}
.ofm-file:hover .crop-function,
.ofm-file.selected .crop-function {
    opacity: 1;
}
.ofm-file.selected .crop-function {
    background-color: #3b7cff;
}
.ofm-file.onprogress .crop-function { display: none; }

// Mobile uploader
#post .mobile-uploader {
    display: none;
    margin-bottom: 20px;

    .result {
        display: none;
        margin-top: 10px;

        font-size: 12px;
        line-height: 17px;

        color: $color-mid;
    }
}


// Form result details
#post .form-result .details {
    padding-bottom: 15px;
    margin-top: 10px;
    overflow: hidden;

    border-bottom: 1px dashed $field-border-color;

    a {
        position: relative;

        display: block;
        float: left;
        padding: 5px 10px 5px 35px;
        clear: left;

        font-weight: 500;

        text-decoration: none;

        color: $color-primary-hover;
        border-radius: 4px;

        @include ellipsis;

        &:hover {
            background-color: $color-light;
        }
    }

    .icon {
        top: 4px;
        left: 8px;
    }
}



// Caption & First Comment
#post .controls {
    .caption,
    .first-comment {
        height: auto;
        min-height: 132px;
        padding-right: 32px;
    }
    .emojionearea.input {
        padding: 0;
    }

    .caption-picker {
        position: absolute;
        top: 37px;
        right: 13px;
        z-index: 2;

        color: $color-mid;
    }

    .emojionearea.disabled {
        position: relative;

        background-color: #fafafa;

        &:after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: "";
        }
    }

    .account-error {
        color: $color-danger;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
    }
}



// Advanced Settings
#post .advanced-settings-toggler {
    font-size: 12px;

    color: $color-dark;
}

#post .advanced-settings {
    max-height: 0;
    overflow: hidden;

    opacity: 0;

    @include transition($transition);


    &.active {
        max-height: 1200px;

        opacity: 1;
    }
}




// Mini preview (preview of selected files)
#post .mini-preview {
    position: relative;

    margin-bottom: 15px;

    .items {
        max-height: 320px;
        min-height: 65px;
        overflow: hidden;
        overflow-y: auto;
    }

    .item {
        position: relative;

        float: left;
        width: 30%;
        margin: 1%;

        transition: transform ease .2s;

        &.ui-draggable-dragging {
            z-index: 100;

            visibility: visible !important;

            border: 2px solid #fff;
            border-radius: 4px;
            background: #fff url(../img/round-loading.svg) center no-repeat;
            background-size: 24px auto;
        }

        &.ui-sortable-helper {
            margin: 0;
            overflow: hidden;

            border: 2px solid #fff;
            border-radius: 50%;

            @include transform(scale(.7));
        }

        &.item--active:before,
        &.item--invalid:before,
        &.item--placeholder:before {
            position: absolute;
            top: -3px;
            left: -3px;

            width: 100%;
            height: 100%;
            padding: 1px;

            content: "";

            border: 2px solid $color-primary;
            border-radius: 5px;
            background-color: #fff;
        }
        &.item--invalid:before {
            border-color: $color-danger !important;
        }
        &.item--placeholder:before {
            top: -1px;
            left: -1px;

            border: 1px dashed $color-mid !important;

            @include transform(scale(.94));
        }
        &.item--placeholder:after {
            position: relative;

            display: block;
            padding-top: 100%;

            content: "";
        }
    }

    .item > div {
        position: relative;

        padding-top: 100%;
        overflow: hidden;

        cursor: -webkit-grab;

        border-radius: 3px;

        &:after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: "";

            background-color: rgba($color-dark, 0);

            @include transition($transition);
        }
    }
    .item:hover > div:after,
    .item--active > div:after {
        background-color: rgba($color-dark, .7);
    }

    .item .img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-position: center;
        background-size: cover;
    }

    .item video {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));
    }

    .item a {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 10;

        visibility: hidden;

        font-size: 17px;

        opacity: 0;
        color: #fff;

        @include transition($transition);
    }

    .item:hover a {
        visibility: visible;

        opacity: 1;
    }

    .drophere {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        visibility: hidden;
        width: 100%;
        height: 100%;

        font-size: 12px;
        line-height: 20px;

        text-align: center;
        text-transform: uppercase;

        opacity: 0;
        color: $section-border-color;
        border: 2px dashed $color-light;
        background-color: #fff;

        @include box-sizing(border-box);

        span {
            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;
            margin-top: -10px;
        }
    }
}

#post .mini-preview.droppable {
    .item {
        visibility: hidden;
    }

    .drophere {
        visibility: visible;

        opacity: 1;
    }
}



// Search Results
#post .search-results {
    margin-top: 10px;

    p {
        margin: 0 13px;

        font-size: 10px;
        line-height: 16px;

        color: $color-mid;
    }

    .item {
        display: block;
        padding: 3px 12px;

        font-size: 12px;
        line-height: 18px;

        color: $color-dark;
        border-bottom: 1px solid $color-light;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: $color-light;
        }
    }
    .sub {
        display: block;

        font-size: 10px;
        font-weight: 300;
        line-height: 14px;

        color: $color-mid;
    }

    .view-all {
        display: inline-block;
        padding: 5px 13px;

        font-size: 12px;
        font-weight: bold;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
    }
}



// Post preview
.post-preview {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;

        visibility: hidden;
        width: 100%;
        height: 100%;

        content: "";

        opacity: 0;
        background-color: rgba(255,255,255,.75);
        background-image: url(../img/round-loading.svg);
        background-repeat: no-repeat;
        background-position: center;

        @include transition($transition);
    }

    &.onprogress:after {
        visibility: visible;

        opacity: 1;
    }

    .preview-header {
        padding: 21px 20px 20px;

        border-bottom: 1px solid $field-border-color;
    }
    .preview-header img {
        display: block;
        width: auto;
        height: 30px;
        margin: 0 auto;
    }

    .preview-account {
        padding: 20px 25px;
    }

    .preview-account .circle {
        float: left;
        width: 45px;
        height: 45px;
        margin-right: 10px;

        border-radius: 50%;
        background-color: $color-light;
    }
    .preview-account .lines {
        display: block;
        margin-top: 7px;
        overflow: hidden;
    }

    .line-placeholder {
        display: block;
        height: 10px;
        margin-bottom: 10px;

        background-color: $color-light;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .preview-media--timeline,
    .preview-media--story,
    .story-placeholder,
    .preview-media--album {
        display: none;
    }

    &[data-type="timeline"] .preview-media--timeline {
        display: block;
    }
    &[data-type="story"] .preview-media--story,
    &[data-type="story"] .story-placeholder {
        display: block;
    }
    &[data-type="album"] .preview-media--album {
        display: block;
    }

    .preview-media--story {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;

        width: 100%;
        height: 100%;
        overflow: hidden;

        background: $color-dark url(../img/story-preview-bg.png) center no-repeat;
    }
    .preview-media--album {
        position: relative;

        padding-top: 100%;
        overflow: hidden;

        background-color: $color-light;
    }

    .preview-media--timeline .placeholder {
        padding-top: 100%;

        background-color: $color-light;
        background-position: center;
        background-size: cover;
    }

    .post-preview .story-placeholder {
        padding-top: 100%;

        background-color: $color-light;
    }

    .preview-media--timeline video {
        display: block;
        width: 100%;
        height: auto;
    }

    .preview-media--album .img,
    .preview-media--story .img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-position: center;
        background-size: cover;
    }
    .preview-media--album video,
    .preview-media--story video {
        position: absolute;
        top: 50%;
        left: 50%;

        width: auto;
        height: auto;

        @include transform(translate(-50%, -50%));
    }

    .preview-caption-wrapper {
        padding: 25px;
    }

    &[data-type="story"] .preview-caption {
        display: none;
    }
    &[data-type="story"] .preview-caption-placeholder {
        display: block;
    }

    .preview-caption {
        display: none;
        min-height: 30px;

        font-size: 14px;
        line-height: 1.42857143;

        word-wrap: break-word;

        -webkit-line-break: after-white-space;

        img {
            display: inline-block;
            width: 20px;
            height: 20px;
            max-width: 100%;
            min-height: 20px;
            margin: -2px 2px 2px;

            font-size: inherit;
            line-height: normal;

            vertical-align: middle;
        }

        a {
            color: $color-primary-hover;
        }
    }
}



@media screen and (max-width: 992px) {
    #post .prev-fail-note {
        margin: 0 0 20px;

        .title {
            font-size: 12px;
            line-height: 17px;
        }
    }

    #post .types {
        margin-bottom: 20px;

        input + div {
            height: 34px;
            padding: 7px 14px;

            font-size: 12px;
            line-height: 14px;
        }

        .icon {
            margin-right: 7px;

            font-size: 24px;
            line-height: 1;
        }

        .type {
            vertical-align: -3px;
        }

        .name {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    #post .types {
        input + div {
            height: 57px;
            padding: 10px;

            font-size: 10px;
            line-height: 12px;

            text-align: center;
        }

        .icon {
            margin-right: 0;
        }

        .type {
            display: block;
            margin-top: 5px;
        }

        .name {
            font-size: 12px;
            line-height: 16px;
        }
    }

    #post .mobile-uploader {
        display: block;
    }

    #post .mini-preview .items {
        max-height: none;
    }
}

@media screen and (max-width: 425px) {
    #post .types {
        .icon {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
