<template>
    <div id="editUser" @click="$emit('closeEditUser')">
        <div class="modalWindows" @click.stop>
            <i class="far fa-times-circle close" @click="$emit('closeEditUser')"></i>
            <label for="el1">Имя</label>
            <input class="input" type="text" id="el1" v-model="full_name">
            <label for="el2">Имя пользователя</label>
            <input class="input" type="text" id="el2" v-model="username">
            <label for="el3">Сайт</label>
            <input class="input" type="text" id="el3" v-model="external_url">
            <label for="el4">О себе</label>
            <textarea type="text" id="el4" v-model="biography"></textarea>
            <label for="el5">Эл. адрес</label>
            <input class="input" type="text" id="el5" v-model="email">
            <label for="el6">Номер телефона</label>
            <input class="input" type="text" id="el6" v-model="phone_number">
            <label for="el7">Пол</label>
            <select id="el7" class="input" v-model="gender">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
                <option value="3">Не определен</option>
            </select>
            <button @click="save">Сохранить</button>
            <notifications group="noty" />
        </div>
    </div>
</template>

<script>
    export default {
        name: "editUser",
        props:['user'],
        data(){
          return{
              full_name:'',
              username:'',
              external_url:'',
              biography:'',
              email:'',
              phone_number:'',
              gender:'',
          }
        },
        computed:{
          requestFormData(){
              return{
                  comand:'saveUserInfo',
                  full_name : this.full_name,
                  username : this.username,
                  external_url : this.external_url,
                  biography : this.biography,
                  email : this.email,
                  phone_number : this.phone_number,
                  gender : this.gender,
              }
          }
        },
        created(){
            this.full_name = this.user.full_name;
            this.username = this.user.username;
            this.external_url = this.user.external_url;
            this.biography = this.user.biography;
            this.email = this.user.email;
            this.phone_number = this.user.phone_number;
            this.gender = this.user.gender;
        },
        mounted(){
            let emoji = $(".modalWindows textarea").emojioneArea({
                saveEmojisAs      : "unicode",
                imageType         : "svg",
                pickerPosition: 'bottom',
                buttonTitle: "Use the TAB key to insert emoji faster"
            });
            emoji[0].emojioneArea.on("drop", function(obj, event) {
                event.preventDefault();
            });
            emoji[0].emojioneArea.on("paste keyup input emojibtn.click", ()=>{
                this.biography = emoji[0].emojioneArea.getText();
            });
        },
        /*watch:{
            username(newVal, oldVal){

                this.$http.post(location.href, querystring.stringify({comand:'checkUsername', username:newVal})).then(response=>{

                });
            }
        },*/
        methods:{
            save(){
                this.$http.post(location.href, querystring.stringify(this.requestFormData)).then(response=>{
                    let data = response.data;
                    if(data.status == 1){
                        this.$emit('updateUser', data.userInfo);
                    }else if(data.status == 2){
                        this.$notify({
                            group: 'noty',
                            title: 'Это имя пользователя недоступно. Попробуйте другой.',
                            text: '',
                            type: 'error',
                        });
                    }else{
                        this.$notify({
                            group: 'noty',
                            title: 'Упс! Произошла ошибка. Данные не сохранились.',
                            text: '',
                            type: 'error',
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    #editUser {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        @include sm-block(){
            display: block;
            overflow: auto;
        }
        .modalWindows {
            @include size(6);
            @include size-sm(10);
            background: #fff;
            //border-radius: 15px;
            padding: 20px;
            position: relative;
            box-shadow: 0px 0px 50px 0px rgba(102, 102, 102, 1);
            @include sm-block(){
                margin: 20px auto;
            }
            .close {
                font-size: 30px;
                position: absolute;
                right: -15px;
                color: #212121;
                top: -15px;
                background: rgba(255, 255, 255, 0.9);
                border-radius: 50%;
                transition: all 0.2s linear;
                cursor: pointer;
            }
            label{
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
                display: block;
            }
            input{
                display: block;
                width: 100%;
                font-size: 16px;

            }
            button {
                margin-top: 10px;
                border: none;
                padding: 9px;
                font-weight: 600;
                transition: all 0.2s linear;
                background-color: rgba(59, 124, 255, 1);
                color: #fff;
                display: block;
                @include sm-block(){
                    width: 100%;
                }
                &:hover {
                    background-color: rgba(59, 124, 255, 0.2);
                    color: #3b7cff;
                }
            }
        }
        .emojionearea, .emojionearea-editor {
            max-height: 50vh;
        }
    }
</style>