<template>
    <div id="editMedia" @click="$emit('closeEditMedia')">
        <div class="modalWindows" @click.stop>
            <i class="far fa-times-circle close" @click="$emit('closeEditMedia')"></i>
            <p>Заголовок</p>
            <textarea>{{media.caption}}</textarea>
            <button @click="$emit('saveCaption', text)">Сохранить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "editMedia",
        props:['media'],
        data(){
            return{
                text:'',
            }
        },
        created(){
            this.text = this.media.caption;
        },
        mounted(){
            let emoji = $(".modalWindows textarea").emojioneArea({
                saveEmojisAs      : "unicode",
                imageType         : "svg",
                pickerPosition: 'bottom',
                buttonTitle: "Use the TAB key to insert emoji faster"
            });
            emoji[0].emojioneArea.on("drop", function(obj, event) {
                event.preventDefault();
            });
            emoji[0].emojioneArea.on("paste keyup input emojibtn.click", ()=>{
                this.text = emoji[0].emojioneArea.getText();
            });
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    #editMedia{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        .modalWindows{
            @include size(6);
            @include size-sm(10);
            background: #fff;
            //border-radius: 15px;
            padding: 20px;
            position: relative;
            box-shadow: 0px 0px 50px 0px rgba(102,102,102,1);
            .close {
                font-size: 30px;
                position: absolute;
                right: -15px;
                color: #212121;
                top: -15px;
                background: rgba(255,255,255,0.9);
                border-radius: 50%;
                transition: all 0.2s linear;
                cursor: pointer;
            }
            p{
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
            }
            button{
                margin-top: 10px;
                border: none;
                padding: 9px;
                font-weight: 600;
                transition: all 0.2s linear;
                background-color: rgba(59, 124, 255, 1);
                color: #fff;
                &:hover{
                    background-color: rgba(59, 124, 255, 0.2);
                    color: #3b7cff;
                }
            }
        }

    }
</style>
<style>
    #editMedia .emojionearea,#editMedia .emojionearea-editor{
        max-height: 60vh;
    }
</style>