<template>
    <div class="managerItem">
        <div class="img">
            <img :src="media.imgUrl">
        </div>
        <div class="row_buttons">
            <div class="left">
                <span><i class="sli sli-heart"></i>{{media.like_count}}</span>
                <span><i class="sli sli-bubble"></i>{{media.comment_count}}</span>
            </div>
            <div class="right">
                <i class="sli sli-pencil" @click="$emit('editMedia', item)"></i>
                <i class="sli sli-trash red" @click="$emit('deleteMedia', item)"></i>
            </div>
        </div>
        <div class="some_text">
            <pre>{{media.caption}}</pre>
        </div>
    </div>
</template>

<script>
    export default {
        name: "itemBlock",
        props:['media', 'item'],
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    .managerItem{
        @include size(4);
        margin: 15px;
        @include sm-block(){
            width: calc(33.33333% - 10px);
            margin: 5px;
        }
    }
    .row_buttons{
        display: flex;
        justify-content: space-between;
        @include xs-block(){
            flex-direction: column;
            .left, .right{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 7px;
            }
        }
    }
    img{
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
    i.sli{
        font-size: 1.4em;
        margin: 0 5px;
        &.red{
            color:red;
        }
    }
    @include xs-block(){
        .left{
            i.sli{
                font-size: 1em;
            }
        }
    }
    .some_text{
        font-size: 0.9em;
        margin-top: 5px;
        @include sm-block(){
            display: none;
        }
    }
    pre{
        white-space: pre-wrap;
    }
    .sli-pencil, .sli-trash{
        cursor: pointer;
    }
</style>