<template>
    <div class="manager_header">
        <div class="left img" :style="{background: 'url('+userInfo.profile_img+') no-repeat center center / cover'}"></div>
        <div class="center">
            <p class="name">{{userInfo.full_name}}  <i class="sli sli-pencil" @click="$emit('editProfile')"></i></p>
            <a :href="instagramLink" class="name2" target="_blank">@{{userInfo.username}}</a>
            <pre class="name3">{{userInfo.biography}}</pre>
            <p class="name4">{{userInfo.external_url}}</p>
        </div>
        <div class="right">
            <div class="block">
                <p class="big">{{userInfo.media_count}}</p>
                <p class="small">post</p>
            </div>
            <div class="block">
                <p class="big">{{userInfo.follower_count}}</p>
                <p class="small">followers</p>
            </div>
            <div class="block">
                <p class="big">{{userInfo.following_count}}</p>
                <p class="small">following</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "top",
        props:['userInfo'],
        computed:{
            instagramLink(){
                return 'https://www.instagram.com/'+this.userInfo.username
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    .manager_header{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        border-bottom: 5px solid #fafafa;
        @include sm-block(){
            flex-wrap: wrap;
        }
    }
    .center{
        max-width: 40%;
        @include md-block(){

        }
        @include xs-block(){
            order: 3;
            max-width: 100%;
        }
    }
    .right{
        display: flex;
        @include lg-block(){
            flex-direction: column;
        }

        .block{
            margin: 0 10px;
        }
    }
    .img{
        width: 150px;
        height: 150px;
        @include xs-block(){
            width: 50vw;
            height: 50vw;
        }
        border-radius: 50%;
    }
    .name{
        font-weight: bold;
        font-size: 1.3em;
    }
    .big{
        font-size: 1.6em;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }
    .small{
        text-align: center;
        @include xs-block(){
            margin: 5px 0 10px 0;
        }
    }
    .sli-pencil{
        cursor: pointer;
    }
    pre{
        white-space: pre-wrap;
    }
</style>