<template>
    <div id="hunterApp">
        <Task v-for="(task, key) in tasks"
              :key="key"
              :task="task"
              @selectTask="select"
              v-if="selected===null || selected==key"
              @deleteTask="deleteTask(key)"
              @editMode="editMode(key, ...arguments)"
              @saveTask="saveTask(key, ...arguments)"></Task>
        <button @click.prevent="addTask" v-if="selected===null" class="addTacks">Добавить</button>
    </div>
</template>

<script>


export default {
    name: 'app',
    data() {
        return {
            selected:null,
            tasks:[],
        }
    },
    created(){
        this.$http.post(location.href, querystring.stringify({comand:'getTask'})).then(response=>{
            this.tasks = response.data.tasks;
            console.log(response.data.tasks);
        });
    },
    mounted(){

    },
    methods:{
        select(num){
            this.selected = num;
        },
        addTask(){
            this.tasks.push({});
        },
        deleteTask(key){
            this.tasks.splice(key, 1)
        },
        editMode(index, value){
            if(value){
                this.selected = index;
            }else{
                 this.selected = null;
            }
        },
        saveTask(index, task){
            this.tasks.splice(index, 1, task);
            this.$forceUpdate();
        }
    }
}
</script>

<style scoped lang="scss">
    @import "scss/smart-grid.scss";
    *{
        box-sizing: border-box;
    }
    #hunterApp{
        position: relative;
        @include size(12);
        margin: 0 auto;
        .addTacks{
            //width: 100%;
            margin: 1%;
            background: #3b7cff;
            cursor: pointer;
            border: 1px solid #3b7cff;
            padding: 10px;
            color: #fff;
            font-size: 17px;
            transition: all .5s ease-in-out;
            font-weight: bold;
            &:hover{
                border-color: #003569;
                background-color: #003569;
            }
        }
    }
</style>
