.stats-box {
  position: relative;
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
  border-radius: 6px;
  margin-bottom: 30px;
  padding:20px;
}
.stats-box.dark {
    background: #232c33;
    color: #fff;
}
.stats-inner {
  padding: 15px;
}
#stats-dashboard  .stats-title {
    font-size: 18px;
    margin-bottom: 10px;
}
#stats-dashboard  .stats-subtitle {
    margin-top: 12px;
    font-size: 12px;
    color: #9f9f9f;
    display: inline-block;
    margin-left: 13px;
}

#stats-dashboard .img-username {
  display: block;
  padding: 10px;
}
#stats-dashboard .img-profile {
  text-align:center;
/*  padding: 0 20px;*/
}

#stats-dashboard .img-profile img {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  display: inline-block;
  clear: both;
  border-radius: 100%;
}

/*#stats-dashboard .profile-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#stats-dashboard .profile-info p {
  margin-top: 0;
  font-size: 12px;
  color: #9f9f9f;
}*/

#stats-dashboard .list-actions {
  list-style: none;
  padding: 0;
}
#stats-dashboard .list-actions li {
    padding: 5px 10px;
}
#stats-dashboard .list-actions li:nth-child(odd) {
  background: #f5f5f5;
}
#stats-dashboard .list-actions li:hover {
  background: #e4e8f1;
}
#stats-dashboard .list-actions li span {
  line-height: 26px;
}
#stats-dashboard .list-actions li:after {
    content: "";
    display: block;
    clear: both;
}

#stats-dashboard .list-actions span {
  display: inline-block;
}
#stats-dashboard .list-actions span.action-sum {
  width: 80px;
  font-weight: normal;
  display:none;
}
#stats-dashboard .list-actions span.action-status {
  float:right;
}

#stats-dashboard .stats-wrap-graph1 {
  height: 400px;
  max-height: 400px;
  margin-bottom: -60px;
}

#stats-dashboard .tb-stats {
  box-shadow:none;
  border: 1px solid #eee;
}
#stats-dashboard .tb-stats thead th {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
#stats-dashboard .tb-stats td {
  padding: 15px 20px;
}
#stats-dashboard .tb-stats tfoot td {
    font-weight: bold;
    border-top: 1px solid;
    background: #fff !important;
}
#stats-preloading {
  display:none;
}



.profile-detail h3 {
  font-weight:normal;
}

.profile-detail p {
  color: #8e8787;
  font-size: 14px;
}
.profile-nrs {
    display: block;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.nrs-detail {
    display: inline-block;
    width: 20%;
    padding: 10px 2%;
    text-align: center;
}
.nrs-detail small {
    display: block;
    color: #989696;
    font-size: 14px;
}
.nrs-detail span {
    display: block;
    clear: both;
    color: #3b7cff;
    font-size: 20px;
    padding-top: 3px;
}



#stats-dashboard .account-selector  {
/*   padding-top:20px; */
}
#stats-dashboard .account-selector .label {
  text-align: center;
  display: block;
  float: right;
  margin: 5px 0 5px 5px;
  font-size: 14px;
}

#stats-dashboard .account-selector .input {
    max-width: 100%;
}
.stats-head {
  color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
    margin: -20px;
}
.stats-head h3 {
  font-size: 15px;
    color: #757575;
    position: relative;
    margin-top: 0;
    font-weight: normal;
}
.dark .stats-head h3 {
    color: #fff;
}
.stats-head h3:before {
    background: #a27ce6;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    top: -21px;
    content: '';
}
.stats-head h3 span {
    color: #a27ce6;
}
.stats-head ul {
position: absolute;
    list-style: none;
    margin: 0;
    text-align: right;
    right: 20px;
    top: 20px;
    color: #9e9e9e;
}
.stats-head ul li {
  display:inline-block;
  cursor:pointer;
}
.stats-head ul li:hover {
    color: #a27ce6;
}
.stats-box-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  height: calc(100vh - 2px);
  overflow-y: auto;
}
.stats-box-full .wrap-chart {
  height: 500px !important;
}
body.stats-body-full {
  overflow:hidden;
}
a.refresh-stats {
    float: left;
    display: inline-block;
    padding: 0 5px 5px 0;
    font-size: 13px;
}
.stats-footer {
      display: block;
    position: relative;
    margin: 10px -20px -20px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #eee;
    font-weight: normal;
    font-size: 14px;
}
.stats-footer span {
    color: #a27ce6;
}

#stats-dashboard #formAccounts {
    margin-top: 0;
}
.stats-top {
  display: inline-block;
  border: none;
  margin-bottom: 0.875rem;
  transition: all .3s ease;
  width: 16%;
  padding: 0;
  background: #b368e6;
  color: #fff;
  text-align:left;
  margin-bottom: 30px;
}
.stats-top h3 div {
    display: inline-block;
}
.stats-top h3, .stats-top h4 {
    padding: 10px 21px;
    margin: 0;
    font-weight: normal;
  font-size:15px;
}
.stats-top h3 {
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: rgba(0,0,0,.03);
}
.stats-top h3 span {
    font-size: 19px;
    display: inline-block;
    margin-right: 11px;
    border-radius: 100%;
}
.stats-top h4 {
    text-align: left;
}
.bg- {
    background-color: #4490db!important;  
}
.bg-1 {
    background-color: #4490db!important;
}
.bg-2 {
    background-color: #634343!important;
}

.bg-3 {
    background-color: #ff6b89!important;
}
.bg-4 {
    background-color: #c774ff!important;
}
.bg-5 {
    background-color: #4b64a6!important;
}
.bg-6 {
    background-color: #ff6bff!important;
}
.bg-7 {
    background-color: #59b3a6!important;
}
.bg-8 {
    background-color: #b37059!important;
}

.stats-time {
    list-style: none;
    margin: 0;
}
.stats-time li {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
}
.stats-time li a {
  padding: 7px 15px;
  display:block;
}

.stats-time li.time-selected a,
.stats-time li a:hover {
  background: #a27ce6;
  color: #fff;
  border-color: #a27ce6;
}
@media (max-width: 767px) {
  .row {
    padding-left: 5px;
    padding-right: 5px;
  }
  .stats-box {
    padding:5px;
  }
  .stats-head {
    margin: -5px 0 0;
    padding: 10px
  }
  .stats-head h3:before {
    top: -10px;
  }
  .stats-head h3 {
    margin-bottom:0;
  }
  .stats-head ul {
     right: 10px;
    top: 10px;
  }
  #stats-dashboard .account-selector .input {
    width: 90%;
  }
  .stats-time-wrap .stats-head {
    margin:0 !important;
  }
  .stats-top {
    width: 45%;
    margin-bottom: 10px;
  }
  .stats-top h3, .stats-top h4 {
    font-size: 12px
  }
  .nrs-detail {
    width:45%;
  }
  .wrap-chart {
    height: 300px !important;
  }
  .stats-footer {
    margin:0.
  }
  

  #stats-dashboard .tb-stats {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  #stats-dashboard .tb-stats tbody tr:first-child  {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    /*display:none; */
  }
  
  #stats-dashboard .tb-stats tr {
    border-bottom: none;
    display: block;
    margin-bottom: .625em;
  }
  
  #stats-dashboard .tb-stats td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    padding: 8px;
  }
  
  #stats-dashboard .tb-stats td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }
  
  #stats-dashboard .tb-stats td:last-child {
    border-bottom: 0;
  }
}