<template>
    <div id="deleteMessage" @click="$emit('closeModal')">
        <div class="modalWindows" @click.stop>
            <i class="far fa-times-circle close" @click="$emit('closeModal')"></i>
            <p>Вы уверены, что хотите удалить сообщение?</p>
            <button @click.prevent="$emit('deletingMessange')">Удалить</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "deleteMessage"
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    #deleteMessage{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        .modalWindows{
            background: #fff;
            padding: 20px;
            position: relative;
            box-shadow: 0px 0px 50px 0px rgba(102,102,102,1);
            text-align: center;
            .close {
                font-size: 30px;
                position: absolute;
                right: -15px;
                color: #212121;
                top: -15px;
                background: rgba(255,255,255,0.9);
                border-radius: 50%;
                transition: all 0.2s linear;
                cursor: pointer;
            }
            p{
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
            }
            button{
                margin-top: 10px;
                border: none;
                padding: 9px;
                font-weight: 600;
                transition: all 0.2s linear;
                background-color: rgb(255, 0, 70);
                color: #fff;
                &:hover{
                    background-color: rgba(255, 0, 70, 0.1);
                    color:rgb(255, 0, 70);
                }
            }
        }
    }
</style>