<template>
    <div class="edit">
        <div class="fourth-col">
            <div class="row-label">
                <label class="mr-50 mb-15"><input class="radio" type="radio" value="hashtag" v-model="targetType"><span><span class="icon"></span>#Hashtags</span></label>
                <label class="mr-50 mb-15"><input class="radio" type="radio" value="location" v-model="targetType"><span><span class="icon"></span>Места</span></label>
                <label class="mr-50 mb-15"><input class="radio" type="radio" value="people" v-model="targetType"><span><span class="icon"></span>Люди</span></label>
                <label class="mr-50 mb-15 rad"><input class="checkbox" type="checkbox" value="myFollorers" v-model="ele.filters.myFollorers"><span><span class="icon unchecked">
                    <span class="mdi mdi-check"></span></span>Мои подписчики</span></label>
            </div>
            <div class="row-label">
                <p class="search-label">Поиск</p>
                <input class="input" type="text" ref="searchInput" v-model="searchInput" @paste="searchPaste">
            </div>
            <div class="targets" v-if="ele.targets.length">
                <div class="target" v-for="(target, key) in ele.targets" :key="key"><span :class="targetClass(target.type)"></span>{{target.value}} <span class="mdi mdi-close" @click="deleteTarget(key)"></span></div>
            </div>
            <Container @drop="onDrop" class="messages">
                <Draggable v-for="(item, key) in ele.messages" :key="key">
                    <div class="message">
                        {{item}}
                        <div class="row-message">
                            <button @click.prevent="editMessage(key)"><span class="icon mdi mdi-square-edit-outline"></span></button>
                            <button class="delete" @click.prevent="deleteMessage(key)"><span class="icon mdi mdi-delete"></span></button>
                        </div>
                    </div>
                </Draggable>
            </Container>
            <textarea v-model="text"></textarea>
            <button class="addMessage" @click.prevent="addMessage">ДОБАВИТЬ СООБЩЕНИЕ</button>
        </div>
        <div class="fifth-col">
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.hasAvatar"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Есть аватар</span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isNonPrivate"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать приватным акаунтам</span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isNonDescription"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать акаунтам без описания</span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isLastPublish"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать если последняя публикация размещена более <input v-model="ele.filters.isLastPublishDay" class="input mini-input" type="number"> дней назад</span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isCountPosts"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Количество публикаций в которых от <input v-model="ele.filters.isCountPostsMin" class="input mini-input" type="number"> до <input v-model="ele.filters.isCountPostsMax" class="input mini-input" type="number"></span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isCountFollowers"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Количество подписчиков в которых от <input v-model="ele.filters.isCountFollowersMin" class="input mini-input" type="number"> до <input v-model="ele.filters.isCountFollowersMax" class="input mini-input" type="number"></span></label>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.isNonWord"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Не писать акаунтам со словами в описании</span></label>
            <select class="input mini-select" v-model="ele.filters.isNonWordType" v-show="ele.filters.isNonWord">
                <option value="ai">Список "Смарт AI"</option>
                <option value="my">Свой список</option>
            </select>
            <input-tag v-show="ele.filters.isNonWord && (ele.filters.isNonWordType == 'my')"
                       :add-tag-on-keys="[13, 32, 9]"
                       :tags.sync="ele.filters.badWords"
                       :placeholder="'Введите слова'"></input-tag>
            <label><input class="checkbox" type="checkbox" v-model="ele.filters.followIfNeed"><span><span class="icon unchecked"><span class="mdi mdi-check"></span></span>Подписаться, если это нужно</span></label>
            <div class="row-label selects">
            <div class="sel">
                <label class="form-label">Частота</label>
                <select class="input" name="speed" v-model="ele.speed">
                    <option value="0">Авто (Рекомендовано)</option>
                    <option value="1">Очень медленно</option>
                    <option value="2">Медленно</option>
                    <option value="3">Средняя</option>
                    <option value="4">Быстро</option>
                    <option value="5">Очень быстро</option>
                </select>
            </div>
            <div class="sel">
                <label class="form-label">Статус</label>
                <select class="input" name="is_active" v-model="ele.is_active">
                    <option value="0" selected="">Деактивировать</option>
                    <option value="1">Активный</option>
                </select>
            </div>
            </div>
            <button class="addMessage" @click.prevent="save">Сохранить</button>
        </div>
        <deleteMessage @closeModal="modal=false" @deletingMessange="deletingMessange" v-if="modal"></deleteMessage>
    </div>
</template>

<script>
    export default {
        name: "editItem",
        props:['element'],
        data(){
            return{
                modal:false,
                daleteKey:'',
                ele:{},
                text:'',
                filters:{
                    hasAvatar:false,
                    isNonPrivate:false,
                    isNonDescription:false,
                    isLastPublish:false,
                    isLastPublishDay:5,
                    isCountPosts:false,
                    isCountPostsMin:20,
                    isCountPostsMax:500,
                    isCountFollowers:false,
                    isCountFollowersMin:20,
                    isCountFollowersMax:500,
                    isNonWord: false,
                    isNonWordType:'ai',
                    badWords:[],
                    followIfNeed:false,
                    myFollorers:false,
                },
                targetType:"hashtag",
                searchInput:'',

                emoji:[],
            }
        },
        created(){
            this.ele = this.element;
            if(!this.ele.messages){
                this.ele.messages = [];
            }
            if(!this.ele.filters){
                this.ele.filters = this.filters;
            }
            if(!this.ele.targets){
                this.ele.targets = [];
            }
            if(this.ele.speed == undefined){
                this.ele.speed = 0;
            }
            if(this.ele.is_active == undefined){
                this.ele.is_active = 0;
            }
            if(this.ele.id == undefined){
                this.ele.id = 0;
            }
        },
        computed:{

        },
        mounted(){
            this.emoji = $("textarea").emojioneArea({
                saveEmojisAs      : "unicode",
                imageType         : "svg",
                pickerPosition: 'bottom',
                buttonTitle: "Use the TAB key to insert emoji faster"
            });
            this.emoji[0].emojioneArea.on("drop", function(obj, event) {
                event.preventDefault();
            });
            this.emoji[0].emojioneArea.on("paste keyup input emojibtn.click", ()=>{
                this.text = this.emoji[0].emojioneArea.getText();
            });
            $(this.$refs.searchInput).devbridgeAutocomplete({
                            serviceUrl: location.href,
                            type: "GET",
                            dataType: "jsonp",
                            minChars: 2,
                            deferRequestBy: 200,
                            forceFixPosition: true,
                            paramName: "q",
                            params: {
                                action: "search",
                                type: this.targetType,
                            },
                            transformResult(resp) {
                                return {
                                    suggestions: resp.result == 1 ? resp.items : []
                                };
                            },
                            beforeRender:this.beforeRender,
                            formatResult:this.formatResult,
                            onSelect:this.onSelect,
                        });
            $('.edit').on('paste', '.new-tag', (e)=>{
                let text =  e.originalEvent.clipboardData.getData('text');
                e.preventDefault();
                e.stopPropagation();
                let arraytext = text.split(/(,|\n| |↵|"|\/n)/);
                let u = arraytext.map((item)=>{
                    return item.replace('[', '').replace(' ', '').replace(']', '').replace('.', '').replace(',', '').replace('"', '').replace("'", '').replace(":", '').replace(";", '').replace("↵", '').replace(/[\n\r]/g, '')
                });
                u = u.filter((item)=>{return !(item == '' || item == ' ' || item == ',' || item == '"' || item == '[' || item == '↵' )});
                console.log(u);
                u.forEach((item)=>{
                    if(this.ele.filters.badWords.indexOf(item) == -1){
                        this.ele.filters.badWords.push(item);
                    }
                });
            });
        },
        watch:{
            targetType(newVal, oldval){
                $(this.$refs.searchInput).autocomplete('setOptions', {
                    params: {
                        action: "search",
                        type: newVal
                    }
                });
            }
        },
        methods:{
            params(){
                return{
                    action: "search",
                    type: this.targetType,
                }
            },
            formatResult(suggestion, currentValue){
                var pattern = '(' + currentValue.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + ')';
                return suggestion.value
                        .replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                        .replace(/&/g, '&amp;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;')
                        .replace(/"/g, '&quot;')
                        .replace(/&lt;(\/?strong)&gt;/g, '<$1>') +
                    (suggestion.data.sub ? "<span class='sub'>"+suggestion.data.sub+"<span>" : "");
            },
            beforeRender(container, suggestions) {
                for (var i = 0; i < suggestions.length; i++) {
                    var type = this.targetType;
                    if (_.find(this.ele.targets, {type:type, id:suggestions[i].data.id})) {
                        container.find(".autocomplete-suggestion").eq(i).addClass('none')
                    }
                }
            },
            onSelect(suggestion){
                this.searchInput = '';
                 var type = this.targetType;

                 if (this.ele.targets.type == type && this.ele.targets.id == suggestion.data.id) {
                     return false;
                 }
                let target = {};
                 target.type = type;
                 target.id = suggestion.data.id;
                 target.value = suggestion.value;


                 this.ele.targets.push(target);
            },
            searchPaste(e){
                let text =  e.clipboardData.getData('text');
                e.preventDefault();
                e.stopPropagation();
                let arraytext = text.split(/(,|\n| |↵|"|\/n)/);
                let u = arraytext.map((item)=>{
                    return item.replace('[', '').replace(' ', '').replace(']', '').replace(',', '').replace('"', '').replace("'", '').replace(":", '').replace(";", '').replace("↵", '').replace(/[\n\r]/g, '')
                });
                u = u.filter((item)=>{return !(item == '' || item == ' ' || item == ',' || item == '"' || item == '[' || item == '↵' )});
                u.forEach((item)=>{
                    if(this.targetType == 'hashtag'){
                        if (_.find(this.ele.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        let target = {};
                        target.type = this.targetType;
                        target.id = item;
                        target.value = item;
                        this.ele.targets.push(target);
                        this.$forceUpdate();
                    }
                    if(this.targetType == 'people'){
                        if (_.find(this.ele.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        $.get(location.href, {type:this.targetType, action:'search', q:item, dataType: 'json'}, (response)=>{
                            response = JSON.parse(response);
                            if(response.result){
                                if (_.find(this.ele.targets, {type:this.targetType, id:response.items[0].data.id})) {
                                    return false;
                                }
                                let target = {};
                                target.type = this.targetType;
                                target.id = response.items[0].data.id;
                                target.value = response.items[0].value;
                                this.ele.targets.push(target);
                                this.$forceUpdate();
                            }
                        });
                    }
                    if(this.targetType == 'location'){
                        if (_.find(this.ele.targets, {type:this.targetType, id:item})) {
                            return false;
                        }
                        $.get(location.href, {type:this.targetType, action:'search', q:item, dataType: 'json'}, (response)=>{
                            response = JSON.parse(response);
                            if(response.result){
                                if (_.find(this.ele.targets, {type:this.targetType, id:response.items[0].data.id})) {
                                    return false;
                                }
                                let target = {};
                                target.type = this.targetType;
                                target.id = response.items[0].data.id;
                                target.value = response.items[0].value;
                                this.ele.targets.push(target);
                                this.$forceUpdate();
                            }
                        });
                    }
                });

            },
            addMessage(){
                this.ele.messages.push(this.text);
                this.text = '';
                this.emoji[0].emojioneArea.setText('');
            },
            editMessage(key){
                this.text =  this.ele.messages.splice(key, 1)[0];
                this.emoji[0].emojioneArea.setText(this.text);
            },
            deleteMessage(key){
                this.deleteKey = key;
                this.modal = true;
            },
            deletingMessange(){
                this.ele.messages.splice(this.deleteKey,1);
                this.modal = false;
            },
            save(){
              this.$http.post(location.href, querystring.stringify({action:'save', object: JSON.stringify(this.ele)})).then(response=>{console.log(response); this.$emit('save')});
            },
            targetClass(type){
              switch (type){
                  case 'hashtag': return 'icon mdi mdi-pound';
                  case 'location': return 'icon mdi mdi-map-marker';
                  case 'people': return 'icon mdi mdi-instagram';
              }
            },
            deleteTarget(key){
              this.ele.targets.splice(key, 1);
                this.$forceUpdate();
            },
            onDrop(dropResult) {
                this.ele.messages = this.applyDrag(this.ele.messages, dropResult);
            },
            applyDrag(arr, dragResult){
                const { removedIndex, addedIndex, payload } = dragResult;
                if (removedIndex === null && addedIndex === null) return arr;
                const result = [...arr];
                let itemToAdd = payload;
                if (removedIndex !== null) {
                    itemToAdd = result.splice(removedIndex, 1)[0];
                }
                if (addedIndex !== null) {
                    result.splice(addedIndex, 0, itemToAdd);
                }
                return result
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    *{
        box-sizing: border-box;
    }
    .edit{
        width: 100%;
        padding: 15px;
        display: flex;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 7px;
        box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
        .fourth-col{
            @include size(7);
            padding: 10px;
            .search-label{
                margin-bottom: 5px;
            }
            .messages{
                margin-bottom: 10px;
            }
            .message{
                padding: 10px;
                border-radius: 4px;
                background-color: #f5f5f5;
                border: 1px solid #e0e0e0;
                margin: 0.5% 0;
                cursor: move;
                .row-message{
                    display: flex;
                    justify-content: flex-end;
                }
                button{
                    margin: 0 1%;
                    background: #3b7cff;
                    cursor: pointer;
                    border: 1px solid #3b7cff;
                    padding: 4px;
                    color: #fff;
                    border-radius: 4px;
                    font-size: 11px;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        border-color: #003569;
                        background-color: #003569;
                    }
                    &.delete{
                        background: red;
                        border: 1px solid red;
                        &:hover{
                            border-color: #c00000;
                            background-color: #c00000;
                        }
                    }
                }
            }
        }
        .fifth-col{
            @include size(5);
            label{
                display: block;
                margin: 10px 0;
            }
        }
        .targets{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 15px;
            margin-bottom: 5px;
            .target{
                background: black;
                border-radius: 4px;
                color: white;
                padding: 3px 7px;
                margin-right: 5px;
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
    }
    .addMessage{
        font-family: "Fira Sans", sans-serif;
        background: #3b7cff;
        cursor: pointer;
        border: 1px solid #3b7cff;
        font-size: 12px;
        font-weight: bold;
        padding: 10px 25px;
        margin-top: 10px;
        color: #fff;
        margin-left: auto;
        display: block;
        transition: all 0.5s ease-in-out;
        &:hover{
            border-color: #003569;
            background-color: #003569;
        }
    }
    .row-label{
        margin-bottom: 5px;
    }
    .mdi-close{
        cursor: pointer;
    }
    .selects{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .sel{
            width: 49%;
        }
    }
    .mini-input{
        width: 40px;
        text-align: center;
        display: inline;
        padding: 4px;
        height: auto;
        margin-top: -4px;
        margin-bottom: -4px;
    }
    .mini-select{
        padding: 7px;
        height: auto;
        margin-bottom: 5px;
    }
    .rad > span{
        position: relative;
        display: inline-block;
        padding-left: 38px;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #212121;
    }
    .rad .checkbox + span .icon {
        color: #3b7cff;
        border-color: #3b7cff;
    }
</style>