<template>
    <div class="view">
        <div class="item" v-if="!ifEdit">
            <div class="first-col">
                <div class="targets">
                    <div class="target" v-for="(target, key) in element.targets" :key="key"><span :class="targetClass(target.type)"></span>{{target.value}}</div>
                </div>
                <ol class="messages">
                    <li class="message" v-for="(message, key) in element.messages" :key="key">{{message}}</li>
                </ol>
            </div>
            <div class="second-col">
                <ul class="filters">
                    <li class="filter" v-if="element.filters.hasAvatar">Есть аватар</li>
                    <li class="filter" v-if="element.filters.isNonPrivate">Не писать приватным акаунтам</li>
                    <li class="filter" v-if="element.filters.isNonDescription">Не писать акаунтам без описания</li>
                    <li class="filter" v-if="element.filters.isLastPublish">Не писать если последняя публикация размещена более <span class="number">{{element.filters.isLastPublishDay}}</span> дней назад</li>
                    <li class="filter" v-if="element.filters.isCountPosts">Количество публикаций в которых от <span class="number">{{element.filters.isCountPostsMin}}</span> до <span class="number">{{element.filters.isCountPostsMax}}</span></li>
                    <li class="filter" v-if="element.filters.isCountFollowers">Количество подписчиков в которых от <span class="number">{{element.filters.isCountFollowersMin}}</span> до <span class="number">{{element.filters.isCountFollowersMax}}</span></li>
                    <li class="filter" v-if="element.filters.isNonWord">Не писать акаунтам со словами в описании</li>
                    <li class="filter" v-if="element.filters.isNonWord">{{element.filters.isNonWordType=='ai' ? 'Список "Смарт AI"' : 'Свой список'}}</li>
                    <div class="targets" v-if="element.filters.isNonWord && (element.filters.isNonWordType == 'my')">
                        <div class="target" v-for="(badWords, key) in element.filters.badWords" :key="key">{{badWords}}</div>
                    </div>
                </ul>
            </div>
            <div class="third-col">
                <p class="lab"><strong>Частота:</strong> {{speedText(element.speed)}}</p>
                <p class="lab"><strong>Статус:</strong> {{element.is_active=='1' ? "Активный" : "Деактивировать"}}</p>
                <button class="blue" @click.prevent="ifEdit=true">Редактировать</button>
                <button class="red" @click.prevent="modal=true">Удалить</button>
            </div>
        </div>
        <editItem v-if="ifEdit" :element="element" @save="ifEdit=false"></editItem>
        <deleteTask @closeModal="modal=false" @deletingMessange="deletingtask" v-if="modal"></deleteTask>
    </div>
</template>

<script>

    export default {
        name: "listItem",
        props:['element'],
        data(){
            return {
                ifEdit:false,
                modal:false,
            }
        },
        created(){
          console.log(this.element);
          if(!this.element.hasOwnProperty('id')){
              this.ifEdit = true;
          }
        },
        mounted(){

        },
        methods:{
            targetClass(type){
                switch (type){
                    case 'hashtag': return 'icon mdi mdi-pound';
                    case 'location': return 'icon mdi mdi-map-marker';
                    case 'people': return 'icon mdi mdi-instagram';
                }
            },
            speedText(num){
                switch (num){
                    case "0": return "Авто (Рекомендовано)";
                    case "1": return "Очень медленно";
                    case "2": return "Медленно";
                    case "3": return "Средняя";
                    case "4": return "Быстро";
                    case "5": return "Очень быстро";
                }
            },
            deletingtask(){
                this.$http.post(location.href,  querystring.stringify({action:'delete', id:this.element.id})).then(response=>{console.log(response); this.modal = false; this.$emit('delete')});
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../scss/smart-grid.scss";
    .view{
        width: 100%;
    }
    .item{
        width: 100%;
        display: flex;
        border: 1px solid grey;
        border-radius: 5px;
        margin-bottom: 7px;
        box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
        .first-col, .second-col{
            padding: 15px 30px;
            @include size(4.5);
            border-right: 1px solid grey;
        }
        .third-col{
            @include size(3);
            padding: 15px;
            .lab{
                font-size: 16px;
            }
            button{
                width: 100%;
                margin: 3% 0;
                background: #3b7cff;
                cursor: pointer;
                border: 1px solid #3b7cff;
                padding: 10px;
                color: #fff;
                font-size: 17px;
                transition: all .5s ease-in-out;
                font-weight: bold;

                &.red{
                    background: red;
                    border: 1px solid red;
                    &:hover{
                        border-color: #c00000;
                        background-color: #c00000;
                    }
                }
                &:hover{
                    border-color: #003569;
                    background-color: #003569;
                }
            }
        }
        .targets{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .target{
                background: black;
                border-radius: 4px;
                color: white;
                padding: 3px 7px;
                margin-right: 5px;
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
        .messages{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 15px;
            padding-left: 0;
            .message{
                @include size(12);
                margin-bottom: 7px;
                border: 1px solid grey;
                padding: 7px;
                border-radius: 7px;
                box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);
            }
        }
        .filters{
            padding-left: 0;
            .filter{
                list-style-image: url(/assets/check.png);
                margin: 10px 0;
            }
        }
    }

</style>