<template>
    <div id="managerApp" >
        <top :userInfo="userInfo" @editProfile="editProfile" v-if="userInfo.hasOwnProperty('username')"></top>
            <transition-group name="flip-list" tag="div" class="main_block" v-if="medias.length">
                <itemBlock v-for="(media,key) in medias" :media="media" :key="media.pk" :item="key" @editMedia="editMedia" @deleteMedia="deleteMedia"></itemBlock>
            </transition-group>
        <editMedia v-if="showModalEdit" :media="medias[selectedMedia]" @saveCaption="saveCaption" @closeEditMedia="showModalEdit=false"></editMedia>
        <deleteMedia v-if="showModalDelete" :media="medias[selectedMedia]" @deletingMedia="deletingMedia" @closeEditMedia="showModalDelete=false"></deleteMedia>
        <editUser v-if="showModalEditUser" :user="userInfo" @closeEditUser="showModalEditUser=false" @updateUser="updateUser"></editUser>
    </div>
</template>

<script>


export default {
    name: 'app',
    data() {
        return {
            inProgress:false,
            showModalEdit:false,
            showModalDelete:false,
            selectedMedia:null,
            showModalEditUser: false,
            medias:[],
            userInfo:{},
            systemInfo:{},
        }
    },
    created(){
       /* let testResponse = {"userInfo":{"username":"andrey6korop","full_name":"Andrey Chukhray","biography":"\u0421\u0430\u0439\u0442 \u0434\u043b\u044f \u043f\u0440\u0438\u043c\u0435\u0440\u0430  https:\/\/vk.com, https:\/\/www.facebook.com\/andrey4korop","pk":"7754992078","external_url":"http:\/\/taplink.cc\/andrey6korop","profile_img":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/e43c4a798a35e133a68a31cd1d6f0853\/5C2954C3\/t51.2885-19\/41287934_341334959940507_3971895603977256960_n.jpg","phone_number":"0631267936","media_count":64,"following_count":370,"follower_count":61},"systemInfo":{"next_max_id":"1848838931047625433_7754992078","more_available":true},"media":[{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/f328eabe89f6bda3dcdb28213f50d818\/5C31CD42\/t51.2885-15\/e35\/39008830_271446180136728_4269294240657309696_n.jpg?ig_cache_key=MTg1MTMxMzE0OTc4NjE3ODcyNw%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\u2800\n\u2800\n2. \u0442\u0435\u043a\u0441\u0442\u2800\n\u2800\n\u2800\n3. \u0442\u0435\u043a\u0441\u0442\u2800\n\u2800\n\u2800\n4. \u0442\u0435\u043a\u0441\u0442","like_count":1,"pk":"1851313149786178727","id":"1851313149786178727_7754992078","device_timestamp":"190543362185646","code":"BmxL4BFA8Sn"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/7eb85613ca365c66afc5671928453802\/5C1C8C10\/t51.2885-15\/e35\/38771611_266531833956879_111871927986946048_n.jpg?ig_cache_key=MTg1MTMxMjI2Nzc4MjYxNTEyOQ%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442\n\n4. \u0442\u0435\u043a\u0441\u0442","like_count":1,"pk":"1851312267782615129","id":"1851312267782615129_7754992078","device_timestamp":"190438260047137","code":"BmxLrLpgXBZ"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/fc38c354991a9c10bf075a2a71b368e0\/5C3684C6\/t51.2885-15\/e35\/39275973_187511652028007_6600503038958370816_n.jpg?ig_cache_key=MTg1MTMxMTY5ODY1NzYyNDg1Ng%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442\n\n4. \u0442\u0435\u043a\u0441\u0442","like_count":1,"pk":"1851311698657624856","id":"1851311698657624856_7754992078","device_timestamp":"190370282452983","code":"BmxLi5nA0MY"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/4850d6de20c33cfeee9ee9b6bef8d17e\/5C2AECD7\/t51.2885-15\/e35\/39687755_1998196913804531_398361094332088320_n.jpg?ig_cache_key=MTg1MTMxMDQ1NDkyODg3NTM1NA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":1,"pk":"1851310454928875354","id":"1851310454928875354_7754992078","device_timestamp":"190222430383173","code":"BmxLQzTAJ9a"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/ae4fad23b9c4dcd166579e9c2b0137a6\/5C1ED67C\/t51.2885-15\/e35\/39379254_500388307100667_775405187937337344_n.jpg?ig_cache_key=MTg1MTMxMDI2NDk0Mzg0MDY2NA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":1,"pk":"1851310264943840664","id":"1851310264943840664_7754992078","device_timestamp":"190199769399659","code":"BmxLOCXAw2Y"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/1120762a2413d148d0202d402c00a2aa\/5C1E4304\/t51.2885-15\/e35\/39082780_272401623580015_2094483996380495872_n.jpg?ig_cache_key=MTg1MTMxMDA2OTk2NzM2NzM3Mg%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851310069967367372","id":"1851310069967367372_7754992078","device_timestamp":"190176591202442","code":"BmxLLMxgizM"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/a66484e35f0a949210df1ab6312eea3f\/5C2E85CA\/t51.2885-15\/e35\/39746066_1995423397175778_479885311686475776_n.jpg?ig_cache_key=MTg1MTMwNzQ4OTIxMjExMTQzNA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851307489212111434","id":"1851307489212111434_7754992078","device_timestamp":"189869060671945","code":"BmxKlpQghpK"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/0d32a5599ce79d62a4377c09fc02aac8\/5C166F34\/t51.2885-15\/e35\/38887982_278523999416065_5770442206041079808_n.jpg?ig_cache_key=MTg1MTI5OTU2NTc4NTk3MjU5NA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442\n\n4. \u0442\u0435\u043a\u0441\u0442","like_count":2,"pk":"1851299565785972594","id":"1851299565785972594_7754992078","device_timestamp":"188923920583699","code":"BmxIyV_gf9y"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/254a30dd43d55a5375f1fb8a047b12db\/5C36E3DF\/t51.2885-15\/e35\/39824528_2222941007935334_3024425930148806656_n.jpg?ig_cache_key=MTg1MTI5ODIzNjY4NjQ1OTIwOQ%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851298236686459209","id":"1851298236686459209_7754992078","device_timestamp":"188765870172478","code":"BmxIfALAOFJ"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/64b87ef099ec5d0bb0aa703a0c59bb39\/5C1A65D3\/t51.2885-15\/e35\/39106964_662229857481840_6850230635324243968_n.jpg?ig_cache_key=MTg1MTI5NzQ0NjU1NTI3NDM0OQ%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851297446555274349","id":"1851297446555274349_7754992078","device_timestamp":"188671698216332","code":"BmxITgTg8xt"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/422f8789b21bf68cc14e1dd74f4a5fd5\/5C1A7353\/t51.2885-15\/e35\/38754812_255121588462935_3054413056802029568_n.jpg?ig_cache_key=MTg1MTI5Mzc3MTg5MTk4MjA2NA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851293771891982064","id":"1851293771891982064_7754992078","device_timestamp":"188233339541862","code":"BmxHeCAg77w"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/03469a42bb6d7773c2a8af2cbf602106\/5C3101A2\/t51.2885-15\/e35\/38917452_507107063047534_322596346517258240_n.jpg?ig_cache_key=MTg1MTI5MjcwNjUyMTgyMzYwOA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851292706521823608","id":"1851292706521823608_7754992078","device_timestamp":"188106125577137","code":"BmxHOhzgTl4"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/f58c8f8bec6e4c572b6d659c98e8907a\/5C1C89B7\/t51.2885-15\/e35\/38779341_2085708504796883_840962065504927744_n.jpg?se=7&ig_cache_key=MTg1MTI5MjEyNjg5NDE2NTgzNw%3D%3D.2","media_type":1,"comment_count":0,"caption":"1. \u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3. \u0442\u0435\u043a\u0441\u0442 \n4. \u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851292126894165837","id":"1851292126894165837_7754992078","device_timestamp":"188036763321436","code":"BmxHGF_AQ9N"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/e718ba396b9556af151df9b63433bf63\/5C3BB48D\/t51.2885-15\/e35\/39282872_365913870614150_5658472086511812608_n.jpg?ig_cache_key=MTg1MTI4OTU3MjQ1Mzk5NTUyNA%3D%3D.2","media_type":1,"comment_count":0,"caption":"1.\u043d\u0435\u043a\u0438\u0439 \u0442\u0435\u043a\u0441\u0442\n2. \u0442\u0435\u043a\u0441\u0442\n\n3.\u0442\u0435\u043a\u0441\u0442 \n4.\u0442\u0435\u043a\u0441\u0442","like_count":0,"pk":"1851289572453995524","id":"1851289572453995524_7754992078","device_timestamp":"187732247589845","code":"BmxGg6-gVQE"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/6816dbf39ff64c25dc53071a2577bc8a\/5C35E343\/t51.2885-15\/e35\/39605497_571893756562746_3923445031393820672_n.jpg?se=7&ig_cache_key=MTg1MDg5NTMzMTM3NDQyOTA4Nw%3D%3D.2","media_type":1,"comment_count":0,"caption":"Backstage.\nLookbook shoot \ud83d\udcf8 DENTOR\n\ndentorwear.com\n\n#dentorwear #streetwear #outfit #outfitoftheaday #backstage","like_count":0,"pk":"1850895331374429087","id":"1850895331374429087_7754992078","device_timestamp":"140736180285998","code":"Bmvs39XAHOf"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/c000c422113c63a67a66002130f084c5\/5C24819E\/t51.2885-15\/e35\/38926072_713415778991027_5141420704826130432_n.jpg?se=7&ig_cache_key=MTg1MDg3MDM1ODA5NDIxNzA4NA%3D%3D.2","media_type":1,"comment_count":1,"caption":"Backstage.\nLookbook shoot \ud83d\udcf8 DENTOR\n\ndentorwear.com\n\n#dentorwear #streetwear #outfit #outfitoftheaday #backstage","like_count":3,"pk":"1850870358094217084","id":"1850870358094217084_7754992078","device_timestamp":"137759426636508","code":"BmvnMjLgX98"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/c57c329955088753c4e39059fd44e00f\/5C3B8A99\/t51.2885-15\/e35\/38790481_308470409931743_5869156222543855616_n.jpg?ig_cache_key=MTg1MDg2ODUxNDUwNDgxOTY1NQ%3D%3D.2","media_type":1,"comment_count":1,"caption":"Backstage.\nLookbook shoot \ud83d\udcf8 DENTOR\n\ndentorwear.com\n\n#dentorwear #streetwear #outfit #outfitoftheaday #backstage","like_count":2,"pk":"1850868514504819655","id":"1850868514504819655_7754992078","device_timestamp":"137539499794116","code":"BmvmxuNA8PH"},{"imgUrl":"https:\/\/instagram.fdnk1-2.fna.fbcdn.net\/vp\/a6d420f9e21f8270f55f26a3eeed50b6\/5C2B7710\/t51.2885-15\/e35\/38896284_2338860989674511_6754982829228032_n.jpg?ig_cache_key=MTg0ODgzODkxNDQzOTM5MTEzMw%3D%3D.2","media_type":8,"comment_count":0,"caption":"\u0422\u0435\u0441\u0442 1\n\n\u0422\u0435\u0441\u04422","like_count":2,"pk":"1848838931047625433","id":"1848838931047625433_7754992078","device_timestamp":"1534618795702","code":"BmoZTZUAbLZ"}]}
        this.medias = this.medias.concat(testResponse.media);
        this.systemInfo = testResponse.systemInfo;
        this.userInfo = testResponse.userInfo;*/
        this.loadMedia();
    },
    mounted(){
        document.querySelector('section.skeleton-content').onscroll = () => {
            let bottomOfWindow = document.querySelector('section.skeleton-content').offsetHeight + document.querySelector('section.skeleton-content').scrollTop + 300 >= document.querySelector('section.skeleton-content').scrollHeight;
            if (bottomOfWindow && !this.inProgress && this.systemInfo.more_available) {
                this.loadMedia(this.systemInfo.next_max_id);
            }
        };
        document.onscroll = () => {
            console.log('onScroll html start');
            if(window.innerWidth <= 992) {
                console.log('onScroll html width');
                console.log(window.innerWidth);
                let bottomOfWindow = window.innerHeight + document.querySelector('html').scrollTop + 300 >= document.querySelector('html').scrollHeight;
                console.log('onScroll html pos');
                console.log(document.querySelector('html').offsetHeight);
                console.log(document.querySelector('html').scrollTop);
                console.log(document.querySelector('html').scrollHeight);
                console.log(bottomOfWindow);
                if (bottomOfWindow && !this.inProgress && this.systemInfo.more_available) {
                    console.log('finish');
                    this.loadMedia(this.systemInfo.next_max_id);
                }
            }
        };

    },
    methods:{
        loadMedia(next_max_id = null){
            this.inProgress=true;
            this.$http.post(location.href, querystring.stringify({comand:'getMedia', next_max_id:next_max_id})).then(response=>{
                this.medias = this.medias.concat(response.data.media);
                this.systemInfo = response.data.systemInfo;
                this.userInfo = response.data.userInfo;

            }).finally(()=>this.inProgress = false);
        },
        editMedia(item){
            this.selectedMedia=item;
            this.showModalEdit=true;
        },
        deleteMedia(item){
            this.selectedMedia=item;
            this.showModalDelete=true;
        },
        saveCaption(caption){
            this.$http.post(location.href, querystring.stringify({comand:'saveCaption', media_id:this.medias[this.selectedMedia].id, caption:caption, mediaType:this.medias[this.selectedMedia].media_type})).then(()=>{
                this.medias[this.selectedMedia].caption = caption;
                this.showModalEdit=false;
            }).finally(()=>this.selectedMedia=null)
        },
        deletingMedia(){
            this.$http.post(location.href, querystring.stringify({comand:'deleteMedia', media_id:this.medias[this.selectedMedia].id, mediaType:this.medias[this.selectedMedia].media_type})).then(()=>{
                this.medias.splice(this.selectedMedia, 1);
                this.showModalDelete=false;
            }).finally(()=>this.selectedMedia=null)
        },
        editProfile(){
            this.showModalEditUser=true;
            console.log('editProfile');
        },
        updateUser(userInfo){
            this.userInfo=userInfo;
            this.showModalEditUser=false;
        }
    }
}
</script>

<style scoped lang="scss">
    @import "scss/smart-grid.scss";
    #managerApp{
        position: relative;
    }
    .main_block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all 1s linear;
        &:after {
            content: "";
            flex: auto;
        }
    }
    .flip-list-move {
        transition: all 1s linear;
    }
</style>
