.cover {
    padding: 100px 0 15px;

    text-align: center;
    color: #fff;

    //background-color: $color-primary;
    background-color: #293340;
    background-image: url(../img/slider.svg);
    overflow: hidden;
    position: relative;

    .container-1100{
        z-index: 2;
        position: relative;
    }
    .lines, .lines .line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }
    .lines .line[data-toward="horizontal"] {
        position: absolute;
        height: 202px;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &:before {
            content: "";
            position: absolute;
            background-color: hsla(0, 0%, 100%, 0.3);
            width: 100%;
            height: 2px;
            top: 0;
            right: -100%;
           // -webkit-animation: linesHorizontalRight 4s ease-in-out infinite;
            animation: linesHorizontalRight 4s ease-in-out infinite;

        }
        &:after {
            content: "";
            position: absolute;
            background-color: hsla(0, 0%, 100%, 0.3);
            width: 100%;
            height: 2px;
            bottom: 0;
            left: -100%;
           //-webkit-animation: linesHorizontalLeft 4s ease-in-out infinite;
           animation: linesHorizontalLeft 4s ease-in-out infinite;

        }
    }
    .lines .line[data-toward="vertical"] {
        position: absolute;
        height: 100%;
        width: 302px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        &:before {
            content: "";
            position: absolute;
            background-color: hsla(0, 0%, 100%, 0.3);
            width: 2px;
            height: 100%;
            right: 0;
            top: -100%;
            animation: linesVerticalTop 6s ease-in-out infinite;

        }
        &:after {
            content: "";
            position: absolute;
            background-color: hsla(0, 0%, 100%, 0.3);
            width: 2px;
            height: 100%;
            left: 0;
            bottom: -100%;
            animation: linesVerticalBottom 6s ease-in-out infinite;

        }
    }
    .button {
        display: block;
        width: 100%;
        max-width: 210px;
        margin: 49px auto 25px;
    }

    .trial {
        display: block;
        margin-top: 5px;

        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
    }
}

.cover-title {
    margin: 0 3% 55px;

    font-size: 48px;
    line-height: 55px;
    font-weight: 200;
}

.cover-summary {
    margin: 50px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    text-indent: 33px;
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 80px 0 15px;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .button {
            margin-top: 20px;
        }
    }

    .cover-title {
        max-width: none;
        margin-bottom: 20px;

        font-size: 36px;
        line-height: 42px;
    }

    .cover-summary {
        margin: 20px auto;

        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 425px) { 
    .cover-title {
        font-size: 26px;
        line-height: 32px;
    }

    .cover-summary {
        font-size: 12px;
        line-height: 18px;
    }
}
@-webkit-keyframes linesHorizontalLeft {
    0% {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

@keyframes linesHorizontalLeft {
    0% {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes linesHorizontalRight {
    0% {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

@keyframes linesHorizontalRight {
    0% {
        right: -100%;
    }
    to {
        right: 100%;
    }
}
@-webkit-keyframes linesVerticalTop {
    0% {
        top: -100%;
    }
    to {
        top: 100%;
    }
}

@keyframes linesVerticalTop {
    0% {
        top: -100%;
    }
    to {
        top: 100%;
    }
}

@-webkit-keyframes linesVerticalBottom {
    0% {
        bottom: -100%;
    }
    to {
        bottom: 100%;
    }
}

@keyframes linesVerticalBottom {
    0% {
        bottom: -100%;
    }
    to {
        bottom: 100%;
    }
}