header {
    padding: 30px 0;

    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 414141;
    transition: 0.3s ease-in;
    &.fixed {
        background-color: #293340;
        z-index: 232323;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
    }
}

.header-logo {
    float: left;
    z-index: 10;
    position: relative;
    img {
        display: block;
        height: 40px;
        width: auto;
    }
}


.header-nav {
    float: right;

    font-size: 14px;
    line-height: 20px;

    ul {
        float: left;
        margin: 10px 0;
        padding: 0;

        list-style: none;
    }

    li {
        float: left;
        margin: 0 39px 0 0;
        padding: 0;
    }

    a {
        color: inherit;
        opacity: 0.9;
        transition: 0.3s ease;
        &:hover{
            opacity: 1;
        }
    }

    .link {
        float: left;
        margin-top: 10px;
        margin-left: 26px;
    }

    .button {
        float: left;
        //margin-left: 26px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -12px;
    }
}

.dropdown {
    position: relative;
    cursor: pointer;
    z-index: 3 !important;
}
header  .language .active {
    color: #fff;
    font-weight: 300;
    display: block;
    padding: 0 15px;
    opacity: 0.9;
    transition: 0.3s ease;
    cursor: pointer;
}
header  .language i.icon {
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}
.language{
    float: right;
    margin-top: 10px;
    display: none;
}
.dropdown {
    position: relative;
    cursor: pointer;
    z-index: 3 !important;
}

.dropdown .dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 23;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    color: #6d7784;
    max-height: 103px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0 5px 26px -7px rgba(0, 0, 0, 0.51);
}
.dropdown .dropdown-list ul{
    padding: 0;
}
.dropdown .dropdown-list ul li a {
    padding: 10px;
    display: block;
}

.dropdown .dropdown-list ul li a:hover {
    background: hsla(0, 0%, 94%, 0.5);
}

.dropdown .dropdown-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.dropdown .dropdown-list::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.dropdown .dropdown-list::-webkit-scrollbar-thumb {
    background-color: #000;
}
header  .language .dropdown-list {
    min-width: 150px;
    right: 15px;
    width: auto;
    min-height: 116px;
    top: 35px;
}
.dropdown .dropdown-list ul li a {
    padding: 10px;
    display: block;
}
header  .language .dropdown-list li>a {
    padding: 12px 18px;
    line-height: 24px;
}


.menu-toggle {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    z-index: 10;
    margin-left: 10px;
}

.menu-toggle .trigger {
    position: relative;
    line-height: 30px;
    height: 2px;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    transition: 0.2s linear;
}

.menu-toggle .trigger:after,
.menu-toggle .trigger:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #fff;
    height: 2px;
    width: 100%;
    transition: 0.3s ease-in;
}

.menu-toggle .trigger:after {
    top: -10px;
}

.menu-toggle .trigger:before {
    bottom: -10px;
}

.menu-toggle.is-active .trigger {
    background-color: transparent;
}

.menu-toggle.is-active .trigger:after {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.menu-toggle.is-active .trigger:before {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
header .menu-toggle {
    display: none;
}

//
@media screen and (max-width: 992px) {
    .header-nav ul {
        display: none;
    }
    header .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        background: #2a3440;
        padding-top: 75px;
    }
    header .menu li {
        display: block !important;
        float: none!important;;
    }
    header .menu li a {
        padding: 20px !important;
        text-align: center;
        box-sizing: border-box;
        display: block;
    }
    header .menu li a.button{
        float: none!important;
        margin-top: 0;
        height: auto;
    }
    header .menu-toggle {
        display: block !important;
    }
}
//


@media screen and (max-width: 992px) {
    header {
        padding: 30px 0;
    }
}

@media screen and (max-width: 768px) {
    .header-nav ul {
        display: none;
        margin: 0;
    }
}

@media screen and (max-width: 425px) { 
    .header-logo img {
        height: 30px;
    }

    .header-nav {
        .link {
            margin-top: 5px;
            margin-left: 0px;
        }

        .button {
            height: 30px;
            padding: 5px 15px;
            margin-left: 15px;
        }
    }
}