/* Feature List */
#features{
    position: relative;
    background: rgba(41, 51, 64, 0.7);
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("../img/bg.jpg");
        background-size: cover;
    }
    h2{
        color: #fff;
        font-size: 2.5em;
    }
    .button{
        display: block;
        width: 100%;
        max-width: 210px;
        margin: 10px auto 15px;

    }
}
.feature-list-item {
    float: left;
    width:50%;

    text-align: center;

    color: #fff;


    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        margin-top: 0;
    }

    &:nth-child(4n) {
        margin-right: 0;
    }

    & > div {
        padding: 15px 30px 15px;
        display: flex;
        align-items: center;
        //background-color: $color-light;
    }
}

.feature-list-item .imgbox {
    position: relative;

    width: 100px;
    height: 100px;
    margin-right: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    & > *{
        width: 50%;
        height: 50%;
        margin: auto;
        fill: #fff;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        max-width: 100%;
        max-height: 100%;
        margin: auto;

        @include transition($transition);
    }
}

.feature-list-item:hover .imgbox img {
    @include transform(scale(.96));
}

.feature-list-item .label {
    display: block;
    height: 19px;

    font-size: 16px;
    line-height: 19px;

    @include transition($transition);
}

.feature-list-item:hover .label {
    @include transform(scale(1.1));
}

@media screen and (max-width: 768px) {
    .feature-list-item {
        width: 100%;

    }
    .feature-list-item > div {
        padding: 20px 20px 30px;
        flex-direction: column;
    }
    .feature-list-item .imgbox {
        // max-width: 50px;
        margin-right: 0;
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .feature-list-item {
        width: 100%;
    }
    .feature-list-item > div {
        padding: 20px 20px 30px;
        flex-direction: column;
    }
    .feature-list-item .imgbox {
        // max-width: 50px;
        margin-right: 0;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px) {
    .feature-list-item > div {
        padding: 20px 20px 30px;
        flex-direction: column;
    }

    .feature-list-item .imgbox {
       // max-width: 50px;
        margin-right: 0;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .feature-list-item .label {
        height: 17px;

        font-size: 12px;
        line-height: 17px;
    }
    #features .button{
        margin: 5px auto 0;
    }
}





/* Package list */
.package-list {
    font-size: 14px;
    line-height: 20px;

    color: $color-mid;
    //background-color: $color-light;
}

.package-list-item {
    float: left;
    width: 30%;
    text-align: center;
    background: #fff;
    margin: 0 1.6%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgba(172,10,247,1);

    > div {
        padding: 44px 33px 69px;
    }

    sup {
        top: -.5em;

        font-size: 60%;
    }

    .price {
        color: #6D7784;

        .number {
            font-size: 82px;
            font-weight: 500;
            line-height: 99px;
        }

        .per {
            left: 22px;

            display: block;

            font-size: 18px;
        }
    }

    .title {
        margin: 36px 0 10px;

        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: #683BC3;
    }

    .annual {
        padding: 18px 0;

        color: $color-dark;

        .save {
            margin-top: 5px;
        }

        .save span {
            position: relative;

            color: $color-primary;

            &:after {
                position: absolute;
                top: 100%;
                left: 0;

                width: 100%;
                height: 1px;

                content: "";

                background-color: $color-primary;
            }
        }
    }

    .feature {
        padding: 18px 0;

        border-top: 1px solid $border-color;

        .not {
            text-decoration: line-through;

            opacity: .5;
        }

        .icon {
            display: inline-block;

            font-size: 24px;
            line-height: 1;

            color: $color-dark;
        }
    }

    .feature-title {
        margin-bottom: 5px;

        color: $color-dark;
    }

    .choose {
        margin-top: 27px;

        a {
            display: block;
            width: 100%;
            max-width: 210px;
            margin: 0 auto;
        }
    }

    .module {
        display: inline-block;
        width: 18px;
        height: 18px;
        padding: 7px 6px 5px;
        margin: 2px 1px;

        font-size: 14px;
        line-height: 18px;

        text-align: center;
        text-transform: uppercase;

        border-radius: 5px;

        @include ellipsis;

        &.disabled {
            opacity: .3;
            color: $color-mid !important;
            background: #e0e0e0 !important;
        }
    }
}






@media screen and (max-width: 768px) {
    .package-list {
        background-color: transparent;
    }

    .package-list-item {
        float: none;
        width: auto;
        margin-bottom: 10px;

        border-radius: 5px;
        background-color: $color-light;
    }
}
