.our_plus{
  color: #122244;
  background: #E6E6E7;
  padding: .67em 0 30px 0;
  h1{
    text-align: center;
    font-size: 3em;
  }
  h2{
    text-align: left;
    font-size: 2.5em;
  }
  .container-1100{
    display: flex;
    justify-content: space-around;
  }
  .text_block{
    width: 42%;
    text-align: justify;
    text-indent: 33px;
  }
  .right_block{
    width: 40%;
    position: relative;
    z-index: 5;
    .wrapper_block{
      width: 100%;
      background: #fff;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

      .item{
        z-index: 1;
        box-shadow:none;
        border-radius: 0;
        margin: 0 auto;
      }
    }
    .item{
      box-sizing: border-box;
      flex-basis: 50%;
      width: 50%;
      margin: -6px auto 0;
      padding: 10px  5px 10px 25px;
      border: 1px solid rgba(0,0,0, 0.1);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      color: #122244;
      background: #fff;
      z-index: -1;
      position: relative;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      border-radius: 15px;
      .img{
        width: 40px;
        height: 40px;
        margin-right: 7px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .our_plus{
    h1{
      margin: 5px 0;
      font-size: 2em;
    }
    .container-1100{
      flex-direction: column;
    }
    .text_block, .right_block{
      width: 90%;
      margin: 0 auto;
    }
    .right_block {
      .wrapper_block {
        flex-direction: column;
      }
      .wrapper_block .item{
        flex-basis: 100%;
        width: 100%;
      }
      .item{
        flex-basis: 100%;
        width: 90%;
      }
    }
  }
}