#some-block{
  .container-1100{
    display: flex;
  }
  .left{
    width: 50%;
    .img, img{
      width: 85%;
      margin: auto;
    }
  }
  .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sliders{
      margin: 0 5px;
      width: 70%;
      //border: 1px solid rgba(0,0,0,0.2);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    i.fa-angle-double-left, i.fa-angle-double-right{
      font-size: 40px;
    }
    .slider{
      //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      //border: 1px solid rgba(0,0,0,0.2);
      display: flex;
      font-weight: 500;
      box-sizing: border-box;
    }
    .photo_block{
      flex-basis: 50%;
      padding: 10px 15px;
      .img, img{
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
      }
      .name{
        font-size: 12px;
        color: #FF0042;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      .counts{
        display: flex;
        align-items: center;
        justify-content: space-around;
        svg{
          width: 15px;
          height: 15px;
        }
        p{
          margin: 0 4px;
          color: #FF0042;
        }
      }
    }
    .text_block{
      padding: 20px;
      .stars{
        color: #FF0042;
        display: inline-block;
        margin-right: 10px;
      }
      .date{
        display: inline-block;
        font-size: 13px;
      }
      .text{
        font-size: 14px;
      }
    }
  }
}
.ss-block{
  background: url("../img/2.png") no-repeat;
  background-size: contain;
  background-position: right;
  .text{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
    text-indent: 33px;
    line-height: 1.7em;
    font-size: 1.2em;
    font-weight: bold;
  }
}
.sss-block{
  background: #0D0243;
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  color: #fff;
  padding: 15px;
  h1{
    text-align: center;
  }
  .text{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
    text-indent: 33px;
    line-height: 1.7em;
    font-size: 1.2em;
  }
  .button {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 15px auto;
  }
}
@media screen and (max-width: 768px) {
  .ss-block{
    background-size: 100px;
    background-position: bottom right;
    .text {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .sss-block{
    .text {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
    }
  }

  #some-block {
    .container-1100 {
     flex-direction: column;
    }
    .left, .right{
      margin-top: 30px;
      width: 100%;
    }
    .right {
      .photo_block, .text_block {
        padding: 10px;
      }
      .photo_block img{
        width: 80%;
        margin: 0 auto;
      }
      .text_block  .stars{
        font-size: 11px;
        margin-right: 5px;
      }
      .text_block .date{
        font-size: 11px;
      }
      .sliders{
        width: 80%;
      }
      i.fa-angle-double-left, i.fa-angle-double-right{
        font-size: 25px;
      }
    }
  }
}