/* Text colors */
.color-primary {
  color: #3b7cff; }

.color-primary-hover {
  color: #003569; }

.color-danger {
  color: #ff3d3d; }

.color-success {
  color: #9BE15D; }

.color-info {
  color: #3b7cff; }

.color-light {
  color: #f7f9fb; }

.color-mid {
  color: #6D7784; }

.color-dark {
  color: #293340; }

.lightbg {
  background-color: #f7f9fb; }

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #293340; }

body.onprogress:after {
  content: "";
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95) url("../img/round-loading.svg") center no-repeat; }

a {
  text-decoration: none;
  outline: none;
  color: #3b7cff; }

a.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; }

.section {
  padding: 15px 0; }

.section-title {
  margin: 0 0 51px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 200; }

@media screen and (max-width: 992px) {
  .section {
    padding: 30px 0; }
  .section-title {
    margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 28px;
    line-height: 34px; } }

/* Prices */
#packages {
  position: relative;
  overflow: hidden; }
  #packages:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #660fe8, #9c0af3, #ac0af7);
    content: "";
    z-index: 0; }
  #packages .section-title {
    color: #fff; }

/* Footer */
footer {
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #0D0243; }

.pc {
  display: block; }

.sm {
  display: none; }

.footer-logo {
  float: left; }
  .footer-logo img {
    display: block;
    height: 40px;
    width: auto; }

footer .copyright {
  float: right;
  margin-top: 10px; }

.footer-lang-selector {
  float: left;
  margin-top: 4px;
  margin-left: 20px;
  padding: 3px;
  display: inline-block;
  display: none;
  border: 1px solid #6D7784;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 24px; }
  .footer-lang-selector option {
    color: #293340; }

@media screen and (max-width: 992px) {
  footer {
    padding: 45px 0; } }

@media screen and (max-width: 425px) {
  footer {
    font-size: 12px;
    line-height: 17px;
    text-align: center; }
  .footer-logo {
    float: none; }
    .footer-logo img {
      height: 30px;
      display: block;
      margin: 0 auto 20px; }
  .footer-lang-selector {
    float: none;
    margin-bottom: 20px; }
  footer .copyright {
    margin-top: 5px;
    float: none; } }

/* Login */
#login .sub {
  font-size: 12px;
  line-height: 20px;
  color: #BEBEBE; }
  #login .sub a {
    float: right;
    color: inherit; }
    #login .sub a:hover {
      color: #6D7784; }
  #login .sub label {
    float: left; }

#login .subinfo {
  margin: 16px 0 22px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300; }

#login .rightside .button {
  min-width: 152px; }

@media screen and (max-width: 768px) {
  .pc {
    display: none; }
  .sm {
    display: block; }
  #login .rightside {
    text-align: center; }
    #login .rightside .button {
      display: block;
      width: 100%; } }

/* FB Login */
.fbloginbtn {
  display: block;
  padding: 13px;
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #39579A;
  border-radius: 4px; }
  .fbloginbtn:hover {
    background-color: #2b4275; }
  .fbloginbtn span {
    font-size: 24px;
    vertical-align: -3px; }

/* Simple form (Signup, recovery) */
.simpleform {
  margin: 80px 0; }
  .simpleform .title {
    margin: 0 0 37px;
    color: #6D7784;
    font-size: 32px;
    line-height: 41px;
    font-weight: 300;
    text-align: center; }
  .simpleform form {
    max-width: 300px;
    margin: 0 auto;
    padding: 35px 60px 60px;
    background-color: #fff; }
  .simpleform .sub {
    margin: 40px auto 0;
    max-width: 320px;
    color: #BEBEBE;
    font-size: 12px;
    line-height: 17px;
    text-align: center; }
    .simpleform .sub div {
      margin-bottom: 5px; }
    .simpleform .sub a {
      color: inherit;
      text-decoration: underline; }
      .simpleform .sub a:hover {
        color: #293340; }

@media screen and (max-width: 425px) {
  .simpleform {
    margin: 50px 20px; }
    .simpleform .title {
      margin-bottom: 26px;
      font-size: 26px;
      line-height: 32px; }
    .simpleform form {
      padding: 25px 35px 35px;
      border-radius: 5px; } }

/* Form */
.fluid {
  display: block !important;
  width: 100% !important; }

.form-result {
  font-size: 16px;
  line-height: 20px; }
  .form-result > div {
    margin-bottom: 5px; }
  .form-result > div:last-child {
    margin-bottom: 0px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f7f9fb inset !important; }

.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  color: #6D7784;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none; }
  .input:focus {
    border-color: #3b7cff; }

.input.error {
  border-color: #ff3d3d; }

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 15px 12px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #00E3AE;
  background: linear-gradient(320.44deg, #00E3AE 0%, #9BE15D 100%);
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.2s;
  letter-spacing: 2px; }
  .button:hover {
    background-color: #9BE15D;
    background: linear-gradient(220.44deg, #00E3AE 0%, #9BE15D 100%);
    -webkit-animation: pulse 0.5s 2 linear;
            animation: pulse 0.5s 2 linear; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
            transform: scale3d(1.08, 1.08, 1.08); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
            transform: scale3d(1.08, 1.08, 1.08); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

.button--dark {
  background-color: #293340;
  background-image: none; }
  .button--dark:hover {
    background-color: #151a21;
    background-image: none; }

.button--oval {
  border-radius: 100px;
  padding-left: 25px;
  padding-right: 25px; }

.button--outline {
  background: transparent;
  border: 1px solid #fff;
  line-height: 18px; }
  .button--outline:hover {
    color: #3b7cff;
    background: #fff; }

.button--small {
  height: 40px;
  padding: 10px 20px; }

/* Checkbox */
.checkbox {
  display: none; }

.checkbox + div {
  position: relative;
  padding-left: 24px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all ease 0.2s; }
  .checkbox + div .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1;
    transition: all ease 0.2s; }

.checkbox:checked + div {
  color: #293340; }

.checkbox + div .icon.unchecked {
  opacity: 1;
  visibility: visible; }

.checkbox + div .icon.checked {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
  transform: scale(0.7); }

.checkbox:checked + div .icon.checked {
  color: #9BE15D;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* Fancy field */
.fancy-field {
  position: relative;
  padding-top: 20px; }
  .fancy-field label {
    position: absolute;
    margin-bottom: 1px;
    top: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #BEBEBE;
    transition: all ease 0.2s; }
  .fancy-field .input:focus + label,
  .fancy-field .input.hasvalue + label {
    top: 0;
    color: #6D7784;
    font-size: 12px; }

/* Feature List */
#features {
  position: relative;
  background: rgba(41, 51, 64, 0.7); }
  #features::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/bg.jpg");
    background-size: cover; }
  #features h2 {
    color: #fff;
    font-size: 2.5em; }
  #features .button {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 10px auto 15px; }

.feature-list-item {
  float: left;
  width: 50%;
  text-align: center;
  color: #fff; }
  .feature-list-item:nth-child(1), .feature-list-item:nth-child(2), .feature-list-item:nth-child(3), .feature-list-item:nth-child(4) {
    margin-top: 0; }
  .feature-list-item:nth-child(4n) {
    margin-right: 0; }
  .feature-list-item > div {
    padding: 15px 30px 15px;
    display: flex;
    align-items: center; }

.feature-list-item .imgbox {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex; }
  .feature-list-item .imgbox > * {
    width: 50%;
    height: 50%;
    margin: auto;
    fill: #fff; }
  .feature-list-item .imgbox img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: all ease 0.2s; }

.feature-list-item:hover .imgbox img {
  -webkit-transform: scale(0.96);
  transform: scale(0.96); }

.feature-list-item .label {
  display: block;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  transition: all ease 0.2s; }

.feature-list-item:hover .label {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

@media screen and (max-width: 768px) {
  .feature-list-item {
    width: 100%; }
  .feature-list-item > div {
    padding: 20px 20px 30px;
    flex-direction: column; }
  .feature-list-item .imgbox {
    margin-right: 0;
    width: 120px;
    height: 120px;
    margin-bottom: 10px; } }

@media screen and (max-width: 600px) {
  .feature-list-item {
    width: 100%; }
  .feature-list-item > div {
    padding: 20px 20px 30px;
    flex-direction: column; }
  .feature-list-item .imgbox {
    margin-right: 0;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; } }

@media screen and (max-width: 425px) {
  .feature-list-item > div {
    padding: 20px 20px 30px;
    flex-direction: column; }
  .feature-list-item .imgbox {
    margin-right: 0;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; }
  .feature-list-item .label {
    height: 17px;
    font-size: 12px;
    line-height: 17px; }
  #features .button {
    margin: 5px auto 0; } }

/* Package list */
.package-list {
  font-size: 14px;
  line-height: 20px;
  color: #6D7784; }

.package-list-item {
  float: left;
  width: 30%;
  text-align: center;
  background: #fff;
  margin: 0 1.6%;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 1px #ac0af7; }
  .package-list-item > div {
    padding: 44px 33px 69px; }
  .package-list-item sup {
    top: -.5em;
    font-size: 60%; }
  .package-list-item .price {
    color: #6D7784; }
    .package-list-item .price .number {
      font-size: 82px;
      font-weight: 500;
      line-height: 99px; }
    .package-list-item .price .per {
      left: 22px;
      display: block;
      font-size: 18px; }
  .package-list-item .title {
    margin: 36px 0 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #683BC3; }
  .package-list-item .annual {
    padding: 18px 0;
    color: #293340; }
    .package-list-item .annual .save {
      margin-top: 5px; }
    .package-list-item .annual .save span {
      position: relative;
      color: #3b7cff; }
      .package-list-item .annual .save span:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #3b7cff; }
  .package-list-item .feature {
    padding: 18px 0;
    border-top: 1px solid #e0e0e0; }
    .package-list-item .feature .not {
      text-decoration: line-through;
      opacity: .5; }
    .package-list-item .feature .icon {
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      color: #293340; }
  .package-list-item .feature-title {
    margin-bottom: 5px;
    color: #293340; }
  .package-list-item .choose {
    margin-top: 27px; }
    .package-list-item .choose a {
      display: block;
      width: 100%;
      max-width: 210px;
      margin: 0 auto; }
  .package-list-item .module {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 7px 6px 5px;
    margin: 2px 1px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .package-list-item .module.disabled {
      opacity: .3;
      color: #6D7784 !important;
      background: #e0e0e0 !important; }

@media screen and (max-width: 768px) {
  .package-list {
    background-color: transparent; }
  .package-list-item {
    float: none;
    width: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f7f9fb; } }

header {
  padding: 30px 0;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 414141;
  transition: 0.3s ease-in; }
  header.fixed {
    background-color: #293340;
    z-index: 232323;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13); }

.header-logo {
  float: left;
  z-index: 10;
  position: relative; }
  .header-logo img {
    display: block;
    height: 40px;
    width: auto; }

.header-nav {
  float: right;
  font-size: 14px;
  line-height: 20px; }
  .header-nav ul {
    float: left;
    margin: 10px 0;
    padding: 0;
    list-style: none; }
  .header-nav li {
    float: left;
    margin: 0 39px 0 0;
    padding: 0; }
  .header-nav a {
    color: inherit;
    opacity: 0.9;
    transition: 0.3s ease; }
    .header-nav a:hover {
      opacity: 1; }
  .header-nav .link {
    float: left;
    margin-top: 10px;
    margin-left: 26px; }
  .header-nav .button {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -12px; }

.dropdown {
  position: relative;
  cursor: pointer;
  z-index: 3 !important; }

header .language .active {
  color: #fff;
  font-weight: 300;
  display: block;
  padding: 0 15px;
  opacity: 0.9;
  transition: 0.3s ease;
  cursor: pointer; }

header .language i.icon {
  font-size: 12px;
  margin-left: 5px;
  color: #fff; }

.language {
  float: right;
  margin-top: 10px;
  display: none; }

.dropdown {
  position: relative;
  cursor: pointer;
  z-index: 3 !important; }

.dropdown .dropdown-list {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 23;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 14px;
  color: #6d7784;
  max-height: 103px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 5px 26px -7px rgba(0, 0, 0, 0.51); }

.dropdown .dropdown-list ul {
  padding: 0; }

.dropdown .dropdown-list ul li a {
  padding: 10px;
  display: block; }

.dropdown .dropdown-list ul li a:hover {
  background: rgba(240, 240, 240, 0.5); }

.dropdown .dropdown-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5; }

.dropdown .dropdown-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5; }

.dropdown .dropdown-list::-webkit-scrollbar-thumb {
  background-color: #000; }

header .language .dropdown-list {
  min-width: 150px;
  right: 15px;
  width: auto;
  min-height: 116px;
  top: 35px; }

.dropdown .dropdown-list ul li a {
  padding: 10px;
  display: block; }

header .language .dropdown-list li > a {
  padding: 12px 18px;
  line-height: 24px; }

.menu-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  z-index: 10;
  margin-left: 10px; }

.menu-toggle .trigger {
  position: relative;
  line-height: 30px;
  height: 2px;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  transition: 0.2s linear; }

.menu-toggle .trigger:after,
.menu-toggle .trigger:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 100%;
  transition: 0.3s ease-in; }

.menu-toggle .trigger:after {
  top: -10px; }

.menu-toggle .trigger:before {
  bottom: -10px; }

.menu-toggle.is-active .trigger {
  background-color: transparent; }

.menu-toggle.is-active .trigger:after {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.menu-toggle.is-active .trigger:before {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

header .menu-toggle {
  display: none; }

@media screen and (max-width: 992px) {
  .header-nav ul {
    display: none; }
  header .menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #2a3440;
    padding-top: 75px; }
  header .menu li {
    display: block !important;
    float: none !important; }
  header .menu li a {
    padding: 20px !important;
    text-align: center;
    box-sizing: border-box;
    display: block; }
  header .menu li a.button {
    float: none !important;
    margin-top: 0;
    height: auto; }
  header .menu-toggle {
    display: block !important; } }

@media screen and (max-width: 992px) {
  header {
    padding: 30px 0; } }

@media screen and (max-width: 768px) {
  .header-nav ul {
    display: none;
    margin: 0; } }

@media screen and (max-width: 425px) {
  .header-logo img {
    height: 30px; }
  .header-nav .link {
    margin-top: 5px;
    margin-left: 0px; }
  .header-nav .button {
    height: 30px;
    padding: 5px 15px;
    margin-left: 15px; } }

.cover {
  padding: 100px 0 15px;
  text-align: center;
  color: #fff;
  background-color: #293340;
  background-image: url(../img/slider.svg);
  overflow: hidden;
  position: relative; }
  .cover .container-1100 {
    z-index: 2;
    position: relative; }
  .cover .lines, .cover .lines .line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1; }
  .cover .lines .line[data-toward="horizontal"] {
    position: absolute;
    height: 202px;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .cover .lines .line[data-toward="horizontal"]:before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 2px;
      top: 0;
      right: -100%;
      -webkit-animation: linesHorizontalRight 4s ease-in-out infinite;
              animation: linesHorizontalRight 4s ease-in-out infinite; }
    .cover .lines .line[data-toward="horizontal"]:after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 2px;
      bottom: 0;
      left: -100%;
      -webkit-animation: linesHorizontalLeft 4s ease-in-out infinite;
              animation: linesHorizontalLeft 4s ease-in-out infinite; }
  .cover .lines .line[data-toward="vertical"] {
    position: absolute;
    height: 100%;
    width: 302px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .cover .lines .line[data-toward="vertical"]:before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      width: 2px;
      height: 100%;
      right: 0;
      top: -100%;
      -webkit-animation: linesVerticalTop 6s ease-in-out infinite;
              animation: linesVerticalTop 6s ease-in-out infinite; }
    .cover .lines .line[data-toward="vertical"]:after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      width: 2px;
      height: 100%;
      left: 0;
      bottom: -100%;
      -webkit-animation: linesVerticalBottom 6s ease-in-out infinite;
              animation: linesVerticalBottom 6s ease-in-out infinite; }
  .cover .button {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 49px auto 25px; }
  .cover .trial {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300; }

.cover-title {
  margin: 0 3% 55px;
  font-size: 48px;
  line-height: 55px;
  font-weight: 200; }

.cover-summary {
  margin: 50px auto;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  text-indent: 33px; }

@media screen and (max-width: 768px) {
  .cover {
    padding: 80px 0 15px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .cover .button {
      margin-top: 20px; }
  .cover-title {
    max-width: none;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px; }
  .cover-summary {
    margin: 20px auto;
    font-size: 14px;
    line-height: 20px; } }

@media screen and (max-width: 425px) {
  .cover-title {
    font-size: 26px;
    line-height: 32px; }
  .cover-summary {
    font-size: 12px;
    line-height: 18px; } }

@-webkit-keyframes linesHorizontalLeft {
  0% {
    left: -100%; }
  to {
    left: 100%; } }

@keyframes linesHorizontalLeft {
  0% {
    left: -100%; }
  to {
    left: 100%; } }

@-webkit-keyframes linesHorizontalRight {
  0% {
    right: -100%; }
  to {
    right: 100%; } }

@keyframes linesHorizontalRight {
  0% {
    right: -100%; }
  to {
    right: 100%; } }

@-webkit-keyframes linesVerticalTop {
  0% {
    top: -100%; }
  to {
    top: 100%; } }

@keyframes linesVerticalTop {
  0% {
    top: -100%; }
  to {
    top: 100%; } }

@-webkit-keyframes linesVerticalBottom {
  0% {
    bottom: -100%; }
  to {
    bottom: 100%; } }

@keyframes linesVerticalBottom {
  0% {
    bottom: -100%; }
  to {
    bottom: 100%; } }

.our_plus {
  color: #122244;
  background: #E6E6E7;
  padding: .67em 0 30px 0; }
  .our_plus h1 {
    text-align: center;
    font-size: 3em; }
  .our_plus h2 {
    text-align: left;
    font-size: 2.5em; }
  .our_plus .container-1100 {
    display: flex;
    justify-content: space-around; }
  .our_plus .text_block {
    width: 42%;
    text-align: justify;
    text-indent: 33px; }
  .our_plus .right_block {
    width: 40%;
    position: relative;
    z-index: 5; }
    .our_plus .right_block .wrapper_block {
      width: 100%;
      background: #fff;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
      .our_plus .right_block .wrapper_block .item {
        z-index: 1;
        box-shadow: none;
        border-radius: 0;
        margin: 0 auto; }
    .our_plus .right_block .item {
      box-sizing: border-box;
      flex-basis: 50%;
      width: 50%;
      margin: -6px auto 0;
      padding: 10px  5px 10px 25px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      color: #122244;
      background: #fff;
      z-index: -1;
      position: relative;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      border-radius: 15px; }
      .our_plus .right_block .item .img {
        width: 40px;
        height: 40px;
        margin-right: 7px; }

@media screen and (max-width: 768px) {
  .our_plus h1 {
    margin: 5px 0;
    font-size: 2em; }
  .our_plus .container-1100 {
    flex-direction: column; }
  .our_plus .text_block, .our_plus .right_block {
    width: 90%;
    margin: 0 auto; }
  .our_plus .right_block .wrapper_block {
    flex-direction: column; }
  .our_plus .right_block .wrapper_block .item {
    flex-basis: 100%;
    width: 100%; }
  .our_plus .right_block .item {
    flex-basis: 100%;
    width: 90%; } }

#some-block .container-1100 {
  display: flex; }

#some-block .left {
  width: 50%; }
  #some-block .left .img, #some-block .left img {
    width: 85%;
    margin: auto; }

#some-block .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #some-block .right .sliders {
    margin: 0 5px;
    width: 70%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  #some-block .right i.fa-angle-double-left, #some-block .right i.fa-angle-double-right {
    font-size: 40px; }
  #some-block .right .slider {
    display: flex;
    font-weight: 500;
    box-sizing: border-box; }
  #some-block .right .photo_block {
    flex-basis: 50%;
    padding: 10px 15px; }
    #some-block .right .photo_block .img, #some-block .right .photo_block img {
      border-radius: 50%;
      overflow: hidden;
      width: 100%; }
    #some-block .right .photo_block .name {
      font-size: 12px;
      color: #FF0042;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #some-block .right .photo_block .counts {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #some-block .right .photo_block .counts svg {
        width: 15px;
        height: 15px; }
      #some-block .right .photo_block .counts p {
        margin: 0 4px;
        color: #FF0042; }
  #some-block .right .text_block {
    padding: 20px; }
    #some-block .right .text_block .stars {
      color: #FF0042;
      display: inline-block;
      margin-right: 10px; }
    #some-block .right .text_block .date {
      display: inline-block;
      font-size: 13px; }
    #some-block .right .text_block .text {
      font-size: 14px; }

.ss-block {
  background: url("../img/2.png") no-repeat;
  background-size: contain;
  background-position: right; }
  .ss-block .text {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
    text-indent: 33px;
    line-height: 1.7em;
    font-size: 1.2em;
    font-weight: bold; }

.sss-block {
  background: #0D0243;
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  color: #fff;
  padding: 15px; }
  .sss-block h1 {
    text-align: center; }
  .sss-block .text {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
    text-indent: 33px;
    line-height: 1.7em;
    font-size: 1.2em; }
  .sss-block .button {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 15px auto; }

@media screen and (max-width: 768px) {
  .ss-block {
    background-size: 100px;
    background-position: bottom right; }
    .ss-block .text {
      width: 100%;
      box-sizing: border-box; }
  .sss-block .text {
    width: 100%;
    box-sizing: border-box;
    padding: 15px; }
  #some-block .container-1100 {
    flex-direction: column; }
  #some-block .left, #some-block .right {
    margin-top: 30px;
    width: 100%; }
  #some-block .right .photo_block, #some-block .right .text_block {
    padding: 10px; }
  #some-block .right .photo_block img {
    width: 80%;
    margin: 0 auto; }
  #some-block .right .text_block .stars {
    font-size: 11px;
    margin-right: 5px; }
  #some-block .right .text_block .date {
    font-size: 11px; }
  #some-block .right .sliders {
    width: 80%; }
  #some-block .right i.fa-angle-double-left, #some-block .right i.fa-angle-double-right {
    font-size: 25px; } }

/* Two side page */
.twosidepage .leftbg,
.twosidepage .rightbg {
  position: absolute;
  top: 0;
  width: 50%;
  min-height: 100%; }

.twosidepage .leftbg {
  left: 0;
  background-color: #f7f9fb; }

.twosidepage .rightbg {
  left: 50%;
  background-color: #3b7cff; }

.twosidepage .leftside,
.twosidepage .rightside {
  position: absolute;
  top: 50%;
  width: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.twosidepage .leftside {
  left: 0; }

.twosidepage .rightside {
  color: #fff;
  left: 50%; }

.twosidepage .innerwrp {
  max-width: 300px;
  margin: 0 auto; }

.twosidepage .section-title {
  margin-bottom: 16px; }

@media screen and (max-width: 768px) {
  .twosidepage .leftbg, .twosidepage .rightbg {
    display: none; }
  .twosidepage .leftside,
  .twosidepage .rightside {
    position: static;
    top: auto;
    width: auto;
    padding: 50px 20px;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .twosidepage .leftside {
    background-color: #f7f9fb; }
  .twosidepage .rightside {
    background-color: #3b7cff; } }

/**
 * Mini page
 */
.minipage .inner {
  max-width: 400px;
  margin: 80px auto;
  text-align: center; }

.minipage .icon {
  display: block;
  margin-bottom: 24px;
  font-size: 50px;
  color: #3b7cff; }

.minipage p {
  margin: 0 0 20px;
  color: #6D7784;
  font-size: 18px;
  line-height: 25px; }

.minipage-title {
  margin: 0 0 14px;
  font-size: 32px;
  font-weight: 300;
  line-height: 41px; }

/*# sourceMappingURL=inc/themes/default/assets/css/core.css.map */
